// Top of Team page
// Top of Team page
// Top of Team page
// Map, overlay
#teamMapWrapper{
	position: relative;

	#teamMapOverlay{
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 55;
		max-width: 600px;
		left: 50%;
		margin-left: -800px;
		pointer-events: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		// Title
		h1{
			font-size: 2.4em;
			line-height: 1em;
			box-sizing: border-box;
			padding: 25px;
			margin: 0;
			font-weight: 700;
			letter-spacing: 0.2px;
			color: var(--text);
		}

		// Position differently on mobile
		@media (max-width: 1800px) {margin-left: -600px;}
		@media (max-width: 1500px) {
			margin-left: 0;
			left: 0;
		}
	}

	// Actual map element
	#teamMap{
		display: block;
		width: 100%;
		height: 30vh;
		min-height: 400px;
		z-index: 50;
		border-bottom: 2px solid var(--borderFade);
	}

}

// Map Popups
// Map Popups
// Map Popups
.map-popup{
	text-align: center;
	b,button{
		// display: block;
		display: inline;
		text-align: center;
	}
	b{
		padding: 0 0 8px 0;
		display: block;
	}
	
	button{
		padding: 2px 0;
		margin: 0;
		border: none;
		background: transparent;
		width: 100%;
		text-align: center;
		display: inline;
		width: fit-content;

		&:after{
			content: ",\00A0";
		}
		&:last-child:after{
			content: "";
		}

		&:hover{
			text-decoration: underline;
			cursor: pointer;
		}
	}
}

// text for team body page
// text for team body page
// text for team body page
#Team_Page{
	.header1{
		font-size: 2.0em;
		font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
		text-align: center;
		font-weight: bold;
		display: block;
		box-sizing: border-box;
		padding: 10px;
		margin: 0;
	}
	.header2{
		font-size: 1.3em;
		font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
		line-height: 1.4em;
		text-align: center;
		display: block;
		box-sizing: border-box;
		padding: 15px;
		margin: 0;
	}
}

// Grid for team members
// Grid for team members
// Grid for team members
#teamGrid{
	margin: 50px auto;
	display: flex;
	justify-content: center;
	gap: 50px;
	flex-wrap: wrap;
	gap: 50px;
	width: 100%;
	max-width: var(--maxWidth);

	.member{
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;
		position: relative;
		width: 280px;
		height: 100%;

		// Anchor for scrolling, offset above member
		.member-anchor{
			position: absolute;
			top: -100px;
			pointer-events: none;
		}

		.photo-bio{
			position: relative;
			border: none;
			padding: 0;
			margin: 0;
			transition: 0.3s;
			box-shadow: none;
			border-radius: var(--borderRadius);

			&.highlight{
				box-shadow: 0px 0px 39px -1px rgba(0, 70, 220, 0.23), 0px 0px 11px 2px rgba(0, 70, 220, 0.23), 0px 0px 56px 24px rgba(0, 70, 220, 0.23);
			}

			img{
				width: 100%;
				height: auto;
				margin: 0 auto;
				border-radius: var(--borderRadius);
				box-shadow: var(--shadow);
			}
			.bio{
				// display: flex;
				// flex-direction: column;
				// justify-content: center;
				position: absolute;
				text-align: left;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				font-size: 0.925em;
				line-height: 1.3em;
				box-sizing: border-box;
				padding: 12px;
				margin: 0;
				background-color: rgba(0,0,0,0.45);
				color: var(--white);
				opacity: 0;
				letter-spacing: -0.2px;
				transition: 0.2s;
				backdrop-filter: blur(3px) grayscale(100%) brightness(75%);
				border-radius: var(--borderRadius);
				overflow: auto;
			}

			&:focus,
			&:hover{
				.bio{
					opacity: 1;
				}
			}
		}

		// Member info
		.member-info{
			.name{
				font-size: 1.5em;
				display: block;
				box-sizing: border-box;
				padding: 8px 0 5px 0;
				font-weight: 700;
			}
			.title{
				display: block;
				font-size: 1em;
				margin-bottom: 6px;
				font-weight: 500;
			}
			.links{
				display: flex;
				justify-content: space-between;
				margin-top: 10px;
			}
			a{
				display: block;
				box-sizing: border-box;
				margin-bottom: 5px;
				font-size: 0.9em;
				color: var(--text);
			}
		}

	}


	// Alumni Changes
	&.alumni{

		.member{
			width: 200px;
			filter: grayscale(60%);

			.bio{
				font-size: 0.8em;
				padding: 8px;
			}
		}
	}
}


