<link rel="apple-touch-icon" sizes="180x180" href="{{ '/img/icons/favicon-64x64.png' | url }}">
<link rel="icon" type="image/png" href="{{ '/img/icons/favicon-64x64.png' | url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/img/icons/favicon-64x64.png' | url }}" sizes="16x16">
<link rel="shortcut icon" href="{{ '/img/icons/favicon-64x64.png' | url }}">
