<!-- WIM Footer -->
<!-- WIM Footer -->
<footer id="WIM_footer">

	<a href="/" title="WIM Home" id="WIM_footer_branding">
		<img src="/img/branding/logo.png" alt="WIM Logo" />
	</a>

	<p>
		<b>Upper Midwest Water Science Center</b>
		<br />
		1 Gifford Pinchot Dr, Madison, WI 53726
		<br />
		1992 Folwell Ave, St. Paul, MN 55108
	</p>

</footer>

<!-- USWDS FOOTER -->
<!-- USWDS FOOTER -->
<div class="usa-identifier">
	<section class="usa-identifier__section usa-identifier__section--masthead" aria-label="Agency identifier,">
		<div class="usa-identifier__container">
			<div class="usa-identifier__logos">
				<a href="https://usgs.gov" target="_blank" class="usa-identifier__logo"><img class="usa-identifier__logo-img"
						src="/img/icons/USGS_Footer_Circle.svg" alt="USGS logo" role="img" /></a>
			</div>
			<div class="usa-identifier__identity" aria-label="Agency description">
				<p class="usa-identifier__identity-domain">wim.usgs.gov</p>
				<p class="usa-identifier__identity-disclaimer">
					An official website of the <a href="https://usgs.gov" target="_blank">USGS</a>
				</p>
			</div>
		</div>
	</section>
	<nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links,">
		<div class="usa-identifier__container">
			<ul class="usa-identifier__required-links-list">
				<!-- DOI -->
				<li class="usa-identifier__required-links-item">
					<a href="https://www.doi.gov/" class="usa-identifier__required-link usa-link">U.S. Department of the Interior</a>
				</li>
				<!-- Legal -->
				<li class="usa-identifier__required-links-item">
					<a href="https://www.usgs.gov/laws/policies_notices.html" class="usa-identifier__required-link usa-link">Legal</a>
				</li>
				<!-- DOI Privacy Policy -->
				<li class="usa-identifier__required-links-item">
					<a href="https://www.doi.gov/privacy" class="usa-identifier__required-link usa-link">DOI Privacy Policy</a>
				</li>
				<!-- DOI OIG -->
				<li class="usa-identifier__required-links-item">
					<a href="https://www.doioig.gov/" class="usa-identifier__required-link usa-link">DOI Inspector General</a>
				</li>
				<!-- Site Map -->
				<li class="usa-identifier__required-links-item">
					<a href="https://www.usgs.gov/sitemap.html" class="usa-identifier__required-link usa-link">Sitemap</a>
				</li>
				<!-- Contact USGS -->
				<li class="usa-identifier__required-links-item">
					<a href="https://answers.usgs.gov" class="usa-identifier__required-link usa-link">Contact USGS</a>
				</li>
				<!-- White House -->
				<li class="usa-identifier__required-links-item">
					<a href="https://www.whitehouse.gov/" class="usa-identifier__required-link usa-link">White House</a>
				</li>
				<!-- EGov -->
				<li class="usa-identifier__required-links-item">
					<a href="https://www.whitehouse.gov/omb/e-gov/" class="usa-identifier__required-link usa-link">E-gov</a>
				</li>
				<!-- Open Government -->
				<li class="usa-identifier__required-links-item">
					<a href="https://www.whitehouse.gov/open/" class="usa-identifier__required-link usa-link">Open Government</a>
				</li>
				<!-- No FEAR act -->
				<li class="usa-identifier__required-links-item">
					<a href="https://www.doi.gov/pmb/eeo/no-fear-act" class="usa-identifier__required-link usa-link">No FEAR Act data</a>
				</li>
				<!-- FOIA -->
				<li class="usa-identifier__required-links-item">
					<a href="https://www2.usgs.gov/foia" class="usa-identifier__required-link usa-link">FOIA requests</a>
				</li>
				<!-- Accessibility -->
				<li class="usa-identifier__required-links-item">
					<a href="https://www2.usgs.gov/laws/accessibility.html" class="usa-identifier__required-link usa-link">Accessibility support</a>
				</li>
			</ul>
		</div>
	</nav>
	<section class="usa-identifier__section usa-identifier__section--usagov"
		aria-label="U.S. government information and services,">
		<div class="usa-identifier__container">
			<div class="usa-identifier__usagov-description">
				Looking for U.S. government information and services?
			</div>
			<a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
		</div>
	</section>
</div>



<!-- Standard USGS Footer - disabled -->
<!-- USGS Required Footer -->
<!-- USGS Required Footer -->
<!-- <footer id="USGS_footer">
	<div>
		<a href="https://www.doi.gov/privacy">DOI Privacy Policy</a>
		<a href="https://www.usgs.gov/laws/policies_notices.html">Legal</a>
		<a href="https://www2.usgs.gov/laws/accessibility.html">Accessibility</a>
		<a href="https://www.usgs.gov/sitemap.html">Site Map</a>
		<a href="https://answers.usgs.gov/">Contact USGS</a>
	</div>


	<div>
		<a href="https://www.doi.gov/">U.S. Department of the Interior</a>
		<a href="https://www.doioig.gov/">DOI Inspector General</a>
		<a href="https://www.whitehouse.gov/">White House</a>
		<a href="https://www.whitehouse.gov/omb/e-gov/">E-gov</a>
		<a href="https://www.whitehouse.gov/open">Open Government</a>
		<a href="https://www.doi.gov/pmb/eeo/no-fear-act">No Fear Act</a>
		<a href="https://www2.usgs.gov/foia">FOIA</a>
	</div>
</footer> -->
