

//////////////////////
// Who we work with //
//////////////////////
.cooperator-logos{
    img{
        display: block;
        max-width: auto;
        max-height: 50px;
        width: auto;
        height: auto;
        margin: 0 25px 25px 0px;

        @media (min-width: @screen_mobile) {
            margin: 0 10px 10px 10px;
        }
    }
}

//////////
// Hero //
//////////
.hero-home{
    display: block;
    background-image: url('/src/images/hero.jpg');
    background-color: rgba(225,225,255,0.6);
    background-blend-mode: screen;
    background-size: cover;
    background-position: center;

    h1{
        font-weight: bolder;
    }

    h3{
        max-width: 500px;
    }

}


.home-body{
    background-image: url('/src/images/trees.png');
    background-attachment: fixed;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-color: rgba(255,255,255,0.1);

    .home-paragraph{
        max-width: 760px;
    }
}
.home-hero{
    display: flex;
    display: none;
    
    .hero-image{
        display: block;
        min-width: 100%;
        height: auto;
        border-radius: @border_radius;
        background-image: url('/src/images/map_2.jpg');
        background-color: rgba(255,255,255,0.75);
        background-blend-mode: screen;
        background-size: cover;
        background-position: center;

        @media (min-width: @screen_lg) {
            min-width: 50%;
        }
    }

    .hero-text{
        box-sizing: border-box;
        position: relative;
        left: -95%;
        min-width: 95%;
        width: 90%;
        

        @media (min-width: @screen_md) {
            left: -80%;
            min-width: 60%;
            width: 60%;
        }
        @media (min-width: @screen_lg) {
            left: -25%;
            min-width: 60%;
            width: 60%;
        }
    }
}