// Languages and tags display
.tags{
                
    span{
        display: inline-block;
        box-sizing: border-box;
        padding: 4px 8px;
        background-color: @primary_xlight;
        color: @primary;
        font-size: 11.5px;
        border-radius: 30px;
        margin: 4px 4px 4px 0;
        letter-spacing: 0;
        font-weight: 600;
        text-transform: capitalize;
        transition: @transition;

        &:hover{
            transition: @transition;
            cursor: pointer;
        }

        &.client,
        &.Client{
            background-color: lighten(@purple, 18%);
            color: @purple_darker;

            &:hover{
                background-color: @purple_light;
                color: darken(@purple_darker, 10%);
            }
        }
        &.script,
        &.Script{
            background-color: lighten(@grey, 4%);
            color: darken(@grey_darker, 44%);
            &:hover{
                background-color: @grey_dark;
                color: darken(@grey_darker, 54%);
            }
        }
        &.service,
        &.Service{
            background-color: lighten(@yellow, 26%);
            color: darken(@yellow_darker, 20%);

            &:hover{
                background-color: @yellow_light;
                color: @ink_dark;
            }
        }
        &.guidance,
        &.Guidance{
            background-color: lighten(@red, 28%);
            color: @red_dark;
            &:hover{
                background-color: @red_lighter;
                color: @red_darker;
            }
        }
        &.template,
        &.Template{
            background-color: lighten(@ink_lighter, 58%);
            color: @ink_lighter;
            &:hover{
                background-color: lighten(@ink_lighter, 48%);
                color: @ink_light;
            }
        }
        &.map,
        &.Map{
            background-color: @primary_xlight;
            color: @primary;

            &:hover{
                background-color: darken(@primary_xlight, 10%);
                color: @primary_dark;
            }
        }
        &.api,
        &.Api{
            background-color: lighten(@secondary, 57%);
            color: @secondary;
            &:hover{
                background-color: lighten(@secondary, 47%);
                color: @secondary_dark;
            }
        }
        &.webapp,
        &.Webapp{
            background-color: lighten(@orange, 27%);
            color: @orange_darker;
            &:hover{
                background-color: lighten(@orange, 20%);
                color: darken(@orange_darker, 8%);
            }
        }

        &:hover{
            cursor: pointer;
        }
    }
}

// Compact project language display
.languages{
    display: flex;
    box-sizing: border-box;
    padding: 6px 8px 10px 10px;
    color: fade(@ink, 50%);
    transition: @transition;

    span{
        margin-left: 5px;
        font-size: 11px;
        font-family: @monospace;
        text-transform: capitalize;

        &:after{
            content: ',';
        }

        &:last-child:after{
            display: none;
        }

        &:hover{
            color: @ink_lighter;
            transition: @transition;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.noclick span:hover{
    cursor: default;
    text-decoration: none;
}
.languages.noclick span:hover{
    color: fade(@ink, 50%);
}

///////////////////////////////
// List of featured projects //
///////////////////////////////
.project-list{

    .project{
        flex-wrap: wrap;
        position: relative;
        text-decoration: none;
        min-height: 200px;

        @media (min-width: @screen_mobile) {
            flex-wrap: nowrap;
            min-height: none;
        }

        .project-image{
            display: block;
            flex-grow: 3;
            height: 100%;
            min-height: 230px;
            background-color: @grey; 
            border-radius: @border_radius;
            background-position: center;
            background-size: cover;
            box-shadow: @shadow;
            transition: @transition;

            @media (min-width: @screen_mobile) {
                min-width: 39%;
                max-width: 39%;
                height: 100%;
                min-height: 100%;
                position: absolute;
                left: 0;
            }
            @media (min-width: @screen_lg) {
                min-width: 34%;
                max-width: 34%;
                height: 100%;
                min-height: 100%;
            }
        }

        .project-info{
            flex-grow: 3;
            box-sizing: border-box;

            @media (min-width: @screen_mobile) {
                padding-left: 43%;
            }
            @media (min-width: @screen_lg) {
                padding-left: 37%;
            }

            h3{
                font-weight: 600;
            }
        }

        // Hover Project
        &:hover{
            cursor: pointer;
            color: inherit;

            .project-image{
                filter: grayscale(75%);
                transition: @transition;
            }

            h3{
                text-decoration: underline;
            }
        }
    }
}

////////////////////
// Project Search //
////////////////////
.project-search{
    display: block;
    width: 100%;
    box-sizing: border-box;

    label,
    input{
        margin: 0 auto;
    }

    input{
        width: 100%;
        font-size: 16px;
        height: 45px;
        margin-top: 5px;
        background-color: @white;
        border-radius: @border_radius;
        // box-shadow: @shadow;
        background-color: @grey_lighter;
        transition: @transition;
        border-top: 1px solid @grey;
        border-right: 1px solid @grey;
        border-bottom: 1px solid @grey;
        
        @media (min-width: @screen_md) {
            width: 50%;
        }
        @media (min-width: @screen_lg) {
            width: 23.5%;
            width: calc(~'25% - 10px');
        }
    }
}
////////////////////////
// Full Project Table //
////////////////////////
.projects-compact{
    display: flex;
    flex-wrap: wrap;
    width: calc(~'100% + 30px');
    position: relative;
    left: calc(~'0% - 15px');


    .project-item{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        border-radius: @border_radius;
        background-color: @white;
        transition: @transition;
        box-shadow: @shadow;
        width: 100%;
        height: 100%;
        text-decoration: none;
        height: auto;
		margin: 15px;
		
        @media (min-width: @screen_sm) {
            width: 48%;
            width: calc(~'50% - 30px');
        }
        @media (min-width: @screen_md) {
            width: 31%;
            width: calc(~'33.33% - 30px');
        }
        @media (min-width: @screen_lg) {
            width: 23.5%;
            width: calc(~'25% - 30px');
        }

        .heading,
        .caption{
            box-sizing: border-box;
            padding: 0 8px;
        }
        .heading{
            padding-top: 8px;
            word-wrap: break-word;
        }
        .caption{
            flex-grow: 3;
            display: flex;
            flex-direction: column;
        }

        .tags{
            padding: 2px 8px 0 4px;

            span{
                margin: 2px 0 2px 4px;
                transition: @transition;
            }
        }
        
        // Project links - live & GitHub
        .project-links{
            display: flex;
            width: 100%;
            background-color: fade(@ink_lighter, 10%);

            a{
                width: 50%;
                text-align: center;
                flex-grow: 3;
                display: flex;
                justify-content: center;
                border-bottom-left-radius: @border_radius;
                border-bottom-right-radius: @border_radius;
                box-sizing: border-box;
                padding: 8px;
                text-decoration: none;

                &.homepage-link{
                    background-color: @primary_xlight;
                    border-right: 1px solid @grey;
                }
                &.github-link{

                }

                span,
                i{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                span{
                    font-size: 12px;
                    font-weight: 600;
                }

                i{
                    font-size: 14px;
                    margin-right: 5px;
                }

                &:hover{
                    cursor: pointer;
                    color: inherit;

                    span{
                        text-decoration: underline;
                    }
                }
            }
        }
	}
	
	// Default to showing 12
	@media (min-width: @screen_mobile) {
        // Initially show 12 items only - Larger than mobile
		.project-item:nth-of-type(1n+13) {
			display: none;
		}
		// Show all items
		&.show-all{
			.project-item:nth-of-type(1n+13) {
				display: flex;
			}
		}
	}

	// Show 6 items on medium screens
	@media (max-width: @screen_mobile) {
		// Initially show 6 items only in Mobile
		.project-item:nth-of-type(1n+7) {
			display: none;
		}
		// Show all items
		&.show-all{
			.project-item:nth-of-type(1n+7) {
				display: flex;
			}
		}
	}
	
	// Show 4 items on smallest screens
	@media (max-width: @screen_sm) {
		.project-item:nth-of-type(1n+5) {
			display: none;
		}
		// Show all items
		&.show-all{
			.project-item:nth-of-type(1n+5) {
				display: flex;
			}
		}
    }
	


    // No projects
    .no-projects{
        width: 100%;
        text-align: center;
        color: fade(@ink, 30%);

        i{
            display: block;
            margin: 0 auto;
            font-size: 66px;
        }

        div{
            font-size: 32px;
            text-align: center;
            display: block;
            width: 100%;
        }
    }
    // Show all projects
    .show-all-projects{
        width: 100%;
        text-align: center;
        color: fade(@ink, 30%);

        div{
			font-size: 18px;
			letter-spacing: 0.1px;
            text-align: center;
            display: block;
			width: 100%;
			text-decoration: underline;
			font-weight: 600;
			transition: @transition;
		}
		
		&:hover{
			cursor: pointer;

			div{
				color: fade(@ink, 90%);
				transition: @transition;
			}
		}
    }
}


/////////////////////////////
// Individual Project Page //
/////////////////////////////
// Hero - name, image, cooperator
.project-hero{
    text-align: center;
    color: @white;
    font-family: @serif;
    font-weight: 700;
    height: 25vh;
    padding-bottom: 2vh;
    background-size: cover;
    background-position: center;
    background-color: fade(@primary_darker, 60%);
    background-color: rgba(0,0,50,0.53);
    background-blend-mode: multiply;
    box-sizing: border-box;
    font-size: 38px;
    
    @media (min-width: @screen_mobile) {
        font-size: 48px;
        height: 40vh;
        padding-bottom: 12vh;
    }

    .cooperator{
        text-align: center;
        font-family: @sans;
        margin-top: 15px;
        line-height: 10px;

        @media (min-width: @screen_mobile) {
            line-height: 6px;
        }
        
        .cooperator-label{
            font-weight: 500;
            font-style: italic;
            opacity: 0.75;
            font-size: 12px;
            display: block;
            letter-spacing: 0;
        }
        .cooperator-name{
            font-size: 16px;
            letter-spacing: 0px;
            font-weight: 500;
            color: @white;
        }
    }
}

// Page Content Wrapper
.project-page{
    border-top-left-radius: @border_radius;
    border-top-right-radius: @border_radius;
    background-color: @white;
    position: relative;
    
    @media (min-width: @screen_mobile) {
        top: -10vh;
        padding-bottom: 0 !important;
    }

    // Screenshots
    .project-thumbnails{

        @media (max-width: @screen_mobile) {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .thumbnail{
            width: 33%;

            @media (max-width: @screen_mobile) {
                width: 42%;
            }

            img{
                height: 180px;
                width: 100%;
                object-fit: cover;
                object-position: top left;
                box-shadow: @shadow_lg;

                &:focus{

                    & ~ .thumbnail-zoom{
                        display: block !important;
                    }
                }

                &:hover{
                    cursor: pointer;
                }
            }

            .thumbnail-zoom{
                display: flex;
                text-align: center;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                background-color: fade(@ink_darker, 70%);
                z-index: 500;

                .thumbnail-zoom-flex{
                    height: 100%;

                    img{
                        height: auto;
                        width: auto;
                        max-width: 85vw;
                        max-height: 85vh;
                        box-shadow: 0 10px 35px -2px rgba(30, 16, 84, .3);
                    }

                    .caption{
                        color: @white;
                        font-size: 14px;
                        font-weight: 600;
                        padding-top: 5px;
                        letter-spacing: 0.3px;
                    }
                }
            }
        }
    }
}