// Hero text
.team-hero-header{
    background-image: url('/src/images/map_hero.jpg');
    text-align: center;
    color: @white;
    font-family: @serif;
    font-weight: 700;
    font-size: 55px;
    height: 35vh;
    background-size: cover;
    background-position: center;
    background-color: fade(@primary_darker, 50%);
    background-blend-mode: multiply;
}
.team-hero{
    display: block;
    width: 100%;
    background-color: @accent_bg;

    h1,h2{
        margin: 0 auto;
        max-width: 570px;
        margin: 0 auto;
        color: @ink_light;
    }
    h1{
        font-weight: 300;
        font-family: @serif;
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 26px;
    }
    h2{
        font-weight: normal;
        line-height: 32px;
    }
}

// Footer at bottom of team page
.team-photo{
    display: block;
    width: 100%;
    
    img{
        display: block;
        max-width: 80%;
        max-width: 800px;
        width: auto;
        margin: 0 auto 20px auto;
        filter: sepia(60%) saturate(50%);
    }

}
.team-footer{
    display: block;
    box-sizing: border-box;
    img{
        display: block;
        width: 90%;
        max-width: 950px;
        margin: 0 auto 0 auto;
        filter: saturate(75%);
    }
}


// Member about modal lightbox
.member-about-lightbox{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: fade(@ink_dark, 50%);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.22s ease-in-out, visibility 0s 0.3s, z-index 0s 0.3s;
    
    &.show{
        pointer-events: all;
        transition: opacity 0.2s 0s ease-in-out;
        z-index: 95;
        top: 0;
        opacity: 1;
        visibility: visible;
    }
}

// Team Member Display
.team-display{
    width: 100%;
    width: calc(~'100% + 20px');
    position: relative;
    left: calc(~'0% - 10px');

    .member{
        height: 280px;
        width: 48%;
        width: calc(~'50% - 20px');
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        // Size photo element and fit dimensions
        .member-image{
            display: block;
            flex-grow: 3;
            width: 100%;
            height: auto;
            position: unset;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-radius: @border_radius;
            background-size: cover;
            background-position: center 5%;
            background-blend-mode: luminosity;
            transition: @transition;
            background-color: fade(@primary_darker, 20%);
            box-sizing: border-box;
            border: 8px solid @white;
            box-shadow: @shadow;

            .member-image-element{
                width: 100%;
                object-fit: cover;
                object-position: 50% 5%;
                max-height: 100%;
                border-radius: @border_radius;
                pointer-events: none;
                opacity: 0;
            }
        }
        


        @media (min-width: @screen_sm) {
            height: 340px;
        }
        @media (min-width: @screen_md) {
            width: 31.5%;
            width: calc(~'33.33% - 20px');
            height: 380px;
        }
        @media (min-width: @screen_lg) {
            width: 23%;
            width: calc(~'25% - 20px');
            height: 370px;
        }


        // Meta, name & title
        .member-meta{
            display: block;
            color: @ink_darker;
            font-size: 14px;
            padding: 4px 0 6px 0;
            border-bottom-left-radius: @border_radius;
            border-bottom-right-radius: @border_radius;
            text-align: center;

            b{
                font-weight: bold;  
                display: block;
            }
        }


        // Member Hover State
        &:focus,
        &:hover{
            cursor: pointer;

            .member-image{
                transition: @transition;
                box-shadow: @shadow_sm;
                background-position: center 0%;
            }


            .member-meta b{
                text-decoration: underline;
            }
        }

    }

    // Team member modal
    .member-about{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: fixed;
        bottom: -140vh;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 100;
        background-color: transparent;
        pointer-events: none;
        visibility: hidden;
        transition: bottom 0.2s ease-in, visibility 0s 0.4s;

        @media (min-width: @screen_mobile) {
            justify-content: center;
        }

        // Show modal
        &.show{
            pointer-events: all;
            transition: bottom 0.21s ease-out;
            bottom: 0;
            visibility: visible;
        }

        // Content of team member modal
        .member-about-content{
            display: block;
            height: auto;
            width: 100%;
            margin: 0 auto;
            border-top-left-radius: 36px;
            border-top-right-radius: 36px;
            background-color: @white;
            box-sizing: border-box;
            position: relative;
            box-shadow: @shadow_lg;

            @media (min-width: @screen_mobile) {
                max-width: 520px;
                border-top-left-radius: @border_radius_lg;
                border-top-right-radius: @border_radius_lg;
                border-bottom-left-radius: @border_radius_lg;
                border-bottom-right-radius: @border_radius_lg;
            }


            // Floating close modal button
            .close-bio-icon{
                background-color: fade(@white, 15%);
                box-sizing: border-box;
                padding: 10px;
                border-radius: 15px;
                margin: 0;
                float: right;
                margin-right: 25px;
                height: 50px;
                width: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                top: -75px;
                right: 0;
                text-align: center;
                font-size: 28px;
                color: @white;
                box-sizing: border-box;

                @media (min-width: @screen_mobile), (max-height: 500px) {
                    right: -25px;
                    top: 0;
                    color: @ink_lighter;
                    background-color: transparent;
                }

                &:focus,
                &:hover{
                    border: 3px solid @white;
                    cursor: pointer;
                    transition: @transition;

                    @media (min-width: @screen_mobile), (max-height: 500px) {
                        border: none;
                        color: @red;
                    }
                }
            }

            // Scroll Content if max height
            .member-about-scroll{
                max-height: 75vh;
                overflow-y: scroll;
            }


            // Member modal image
            .member-about-image{
                display: block;
                width: 43%;
                height: 160px;
                background-size: cover;
                background-position: center 20%;
                border-radius: @border_radius_xl;
                // box-shadow: 5px 5px fade(@grey, 100%);

                @media (min-width: @screen_mobile) {
                    border-radius: @border_radius;
                    width: 32%;
                    height: 135px;
                }
            }

            // Member modal name, title, contact
            .member-about-header{
                flex-grow: 3;
                position: relative;
                box-sizing: border-box;
                padding-left: 15px;

                h3, h4, .text-body, a{
                    // background-color: fade(@white, 50%);
                    width: fit-content;
                    box-sizing: border-box;
                }
                h3{
                    font-weight: 600;
                }
            }
        }
    }
}