.team-display{
    width: 100%;
    width: calc(~'100% + 20px');
    position: relative;
    left: calc(~'0% - 10px');

    .member{
        height: 240px;
        width: 48%;
        width: calc(~'50% - 20px');
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        // Size photo element and fit dimensions
        .member-image-element{
            width: 100%;
            flex-grow: 3;
            object-fit: cover;
            object-position: 50% 5%;
            height: 0;
            border-radius: @border_radius;
            box-shadow: @shadow_lg;
            transition: 0.3s;
            transform: scale(1);
        }


        @media (min-width: @screen_sm) {
            width: 31.5%;
            width: calc(~'33.33% - 20px');
            height: 240px;
        }
        @media (min-width: @screen_md) {
            width: 23%;
            width: calc(~'25% - 20px');
            height: 270px;
        }
        @media (min-width: @screen_lg) {
            width: 19%;
            width: calc(~'20% - 20px');
            height: 300px;
        }


        // Meta, name & title
        .member-meta{
            display: block;
            color: @ink_darker;
            font-size: 14px;
            padding: 4px 0 6px 0;
            border-bottom-left-radius: @border_radius;
            border-bottom-right-radius: @border_radius;

            b{  
                display: block;
            }
        }


        // Member Hover State
        &:focus,
        &:hover{
            cursor: pointer;

            .member-image-element{
                transition: 0.3s;
                transform: scale(1.02);

            }

            .member-meta b{
                text-decoration: underline;
            }
        }

    }



    .member-about{
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 100;
        background-color: fade(@ink_darker, 50%);

        @media (min-width: @screen_mobile) {
            justify-content: center;
        }

        &.show{
            display: flex;
        }

        .member-about-content{
            display: block;
            height: auto;
            width: 100%;
            margin: 0 auto;
            border-top-left-radius: @border_radius_lg;
            border-top-right-radius: @border_radius_lg;
            background-color: @white;
            box-sizing: border-box;
            position: relative;

            @media (min-width: @screen_mobile) {
                max-width: 520px;
                border-bottom-left-radius: @border_radius_lg;
                border-bottom-right-radius: @border_radius_lg;
            }

            .modal-buttons{
                display: flex;
                justify-content: center;

                button{
                    padding: 5px 14px;
                }
                @media (min-width: @screen_mobile) {

                }

            }
        }
    }

}