// Map hero
.leaflet-control-container{
	display: none;
}

// Map popup fixes
.map-popup{
	span, b{
		display: block;
		white-space: pre;
		line-height: 14px;
	}
}

#mapid{
	height: 340px;
	width: 100%;
	position: relative;

	.map-team-overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 498;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 32px;
		font-weight: 600;
		color: @white;
		height: 100%;
		box-sizing: border-box;
		padding: 250px 0 0 0;
		pointer-events: none;

		b{
			display: inline;
			width: fit-content;
			height: fit-content;
			margin: 0 auto;
			background-color: @ink_dark;
			box-sizing: border-box;
			padding: 0px 15px 2px 15px;
			border-radius: 10px;
			box-shadow: @shadow_lg;
		}
	}

	// Popup Styling
	.leaflet-popup-content{
		margin: 0 auto;
		box-sizing: border-box;
		padding: 5px 26px 5px 8px;
		width: fit-content;
		max-width: fit-content; 

		b{
			display: block;
			font-size: 14px;
		}
		span{
			font-size: 13px;
			font-weight: 400;
			display: block;
			transition: @transition;
			text-decoration: underline;
			text-decoration-color: fade(@ink, 40%);

			&:hover{
				cursor: pointer;
				color: @primary;
				transition: @transition;
				text-decoration-color: @primary;
			}
		}
	}
	.leaflet-popup-content-wrapper, .leaflet-popup-tip{
		box-shadow: @shadow_lg;
	}
}

// Hero text
.team-hero{
    display: block;
    width: 100%;
    // background-color: @accent_bg;

    h1,h2{
        margin: 0 auto;
        max-width: 570px;
        margin: 0 auto;
        color: @ink_light;
    }
    h1{
        font-weight: 300;
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 16px;

        @media (min-width: @screen_mobile) {
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 26px;
        }
    }
    h2{
        font-weight: normal;
        line-height: 32px;
    }
}

// Footer at bottom of team page
.team-footer{
    display: block;
	border-top: 4px solid @grey_dark;
	box-sizing: border-box;

	&.alumni-hidden{
		margin-top: -170px !important;
		z-index: 70;
		position: relative;
	}

    img{
        display: block;
        width: 100%;
        // max-width: 950px;
        margin: 0 auto 0 auto;
		// filter: saturate(75%);
    }
}


// Member about modal lightbox
.member-about-lightbox{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: fade(@ink_dark, 50%);
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.22s ease-in-out, visibility 0s 0.3s, z-index 0s 0.3s;
    
    &.show{
        pointer-events: all;
        transition: opacity 0.2s 0s ease-in-out;
        z-index: 500;
        top: 0;
        opacity: 1;
        visibility: visible;
    }
}

// Team Member Display
.team-display,
.alumni-display{
    width: 100%;
    width: calc(~'100% + 20px');
    position: relative;
    left: calc(~'0% - 10px');

    .member{
        height: 380px;
        width: 48%;
        width: calc(~'50% - 20px');
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;

        // Size photo element and fit dimensions
        .member-image{
            display: block;
            flex-grow: 3;
            width: 100%;
            height: auto;
            position: unset;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            border-radius: @border_radius;
            background-size: cover;
            background-position: center 5%;
            transition: @transition;
            background-color: fade(@primary_darker, 20%);
            box-sizing: border-box;
            border: 8px solid @white;
            box-shadow: @shadow;
            filter: grayscale(10%) contrast(110%);

            .member-image-element{
                width: 100%;
                object-fit: cover;
                object-position: 50% 5%;
                max-height: 100%;
                border-radius: @border_radius;
                pointer-events: none;
                opacity: 0;
            }
        }
        


        @media (min-width: @screen_sm) {
            height: 380px;
        }
        @media (min-width: 600px) {
            width: 31.5%;
            width: calc(~'33.33% - 20px');
            height: 320px;
        }
        @media (min-width: @screen_md) {
            width: 31.5%;
            width: calc(~'33.33% - 20px');
            height: 420px;
        }
        @media (min-width: @screen_lg) {
            width: 23%;
            width: calc(~'25% - 20px');
            height: 370px;
        }


        // Meta, name & title
        .member-meta{
            display: block;
            color: @ink_darker;
            font-size: 14px;
            padding: 4px 0 6px 0;
            border-bottom-left-radius: @border_radius;
            border-bottom-right-radius: @border_radius;
            text-align: center;

            b{
                text-transform: capitalize;
                font-weight: bold;  
                display: block;
            }
        }


        // Member Hover State
        &:focus,
        &:hover{
            cursor: pointer;

            .member-image{
                transition: @transition;
                box-shadow: @shadow_sm;
                background-position: center 0%;
            }


            .member-meta b{
                text-decoration: underline;
			}
        }

    }

    // Team member modal
    .member-about{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: fixed;
        bottom: -140vh;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 100;
        background-color: transparent;
        pointer-events: none;
        visibility: hidden;
        transition: bottom 0.2s ease-in, visibility 0s 0.4s;

        @media (min-width: @screen_mobile) {
            justify-content: center;
        }

        // Show modal
        &.show{
            pointer-events: all;
            transition: bottom 0.21s ease-out;
            bottom: 0;
            visibility: visible;
        }

        // Content of team member modal
        .member-about-content{
            display: block;
            height: auto;
            width: 100%;
            margin: 0 auto;
            border-top-left-radius: 36px;
            border-top-right-radius: 36px;
            background-color: @white;
            box-sizing: border-box;
            position: relative;
            box-shadow: @shadow_lg;

            @media (min-width: @screen_mobile) {
                max-width: 520px;
                border-top-left-radius: @border_radius_lg;
                border-top-right-radius: @border_radius_lg;
                border-bottom-left-radius: @border_radius_lg;
                border-bottom-right-radius: @border_radius_lg;
            }


            // Floating close modal button
            .close-bio-icon{
                background-color: fade(@white, 15%);
                box-sizing: border-box;
                padding: 10px;
                border-radius: 15px;
                margin: 0;
                float: right;
                margin-right: 25px;
                height: 50px;
                width: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                top: -75px;
                right: 0;
                text-align: center;
                font-size: 28px;
                color: @white;
                box-sizing: border-box;

                @media (min-width: @screen_mobile), (max-height: 500px) {
                    right: -25px;
                    top: 0;
                    color: @ink_lighter;
                    background-color: transparent;
                }

                &:focus,
                &:hover{
                    border: 3px solid @white;
                    cursor: pointer;
                    transition: @transition;

                    @media (min-width: @screen_mobile), (max-height: 500px) {
                        border: none;
                        color: @red;
                    }
                }
            }

            // Scroll Content if max height
            .member-about-scroll{
                max-height: 75vh;
                overflow-y: scroll;
            }


            // Member modal image
            .member-about-image{
                display: block;
                width: 43%;
                height: 160px;
                background-size: cover;
                background-position: center 20%;
                border-radius: @border_radius_xl;
                // box-shadow: 5px 5px fade(@grey, 100%);

                @media (min-width: @screen_mobile) {
                    border-radius: @border_radius;
                    width: 32%;
                    height: 135px;
                }
            }

            // Member modal name, title, contact
            .member-about-header{
                flex-grow: 3;
                position: relative;
                box-sizing: border-box;
                padding-left: 15px;

                h3{
                    text-transform: capitalize;
                }

                h3, h4, .text-body, a{
                    // background-color: fade(@white, 50%);
                    width: fit-content;
                    box-sizing: border-box;
                }
                h3{
                    font-weight: 600;
                }
            }
        }
    }
}

// Hide certain things for alumni
// Hide certain things for alumni
// Hide certain things for alumni
.alumni-header{
	display: block;
	// font-size: 32px;
	text-align: center;
	box-sizing: border-box;
	position: absolute;
	top: -15px;
	left: 0;
	z-index: 60;
	width: 100%;
	pointer-events: none;
	text-decoration: underline;

	@media (min-width: @screen_md) {
		top: 25px;
	}
	@media (min-width: @screen_sm) {
		top: 18px;
	}

	&.toggled{
		position: relative;
		top: 0px;
		margin: 25px auto 45px auto;
	}
}
.alumni-display{
	margin-top:35px;

	&.toggled{
		margin-top: 0px;
	}

	&:not(.toggled){
		// Member adjustments
		@media (max-width: @screen_lg) {
			#Jonathan{
				display: none !important;
			}
		}
		@media (max-width: @screen_md) {
			#Marie{
				display: none !important;
			}
		}
	}
	

	.member-title,
	h4{
		display: none;			
	}

	.alumni-link{
		display: block;
		width: 100%;
	}

	.alumni-overlay{
		position: absolute;
		top: -50px;
		left: 0;
		transition: 0.1s;
		height: 100%;
		width: 100%;
		z-index: 50;
		background: rgb(255,255,255);
		background: linear-gradient(180deg, rgba(255,255,255,0.7) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); 
		&:hover{
			cursor: pointer;
		}
	}
}


// No JS Warning
.team-no-js{
	display: block;
	text-align: center;
	width: 100%;
	font-size: 22px;
	color: fade(@black, 80%);
	font-weight: 600;

	i{
		display: block;
		margin-top: 20px;
		font-size: 52px;
	}
}
