<!DOCTYPE html>
<html lang="en">
<head>

	@@include('../i/includes/header.html', {
		"page_title": "Team: Web Informatics & Mapping",
		"meta_desc": "WIM is comprised of developers, geographers, cartographers, and scientists who are passionate about science communication. Our small team works closely with cooperators to build products that manage, analyze, and visualize scientific information in intuitive and user-friendly ways.",
		"theme_color": "#030508",
		"share_title": "Our Team: Web Informatics & Mapping",
		"share_desc": "WIM is comprised of developers, geographers, cartographers, and scientists who are passionate about science communication. Our small team works closely with cooperators to build products that manage, analyze, and visualize scientific information in intuitive and user-friendly ways.",
		"share_url": "https://wim.usgs.gov/team/",
		"fb_image": "https://wim.usgs.gov/src/images/branding/meta/Facebook.png",
		"tw_image": "https://wim.usgs.gov/src/images/branding/meta/Twitter.png"
	})

	<!-- Manifest -->
	<link rel="manifest" href="../manifest.json">

	<!-- Vue required only on team and project pages -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router"></script>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

    <script src="https://unpkg.com/esri-leaflet@2.2.4/dist/esri-leaflet.js"
    integrity="sha512-tyPum7h2h36X52O2gz+Pe8z/3l+Y9S1yEUscbVs5r5aEY5dFmP1WWRY/WLLElnFHa+k1JBQZSCDGwEAnm2IxAQ=="
    crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
</head>
<body>
	<!-- Vue JS Base Element -->
	<span id="team">

		<!-- 
		USGS Header, USA Banner, and Nav
		-->
		@@include('../i/includes/usa-banner.html')
		@@include('../i/includes/nav.html')
		
		<!-- Main Content -->
		<!-- Hero header -->
		<div id="mapid">
			<div class="map-team-overlay">
				<b>Our Team</b>
			</div>
		</div>

		<!-- Hero text -->
		<div class="team-hero">
			<div class="standard-width xs-pt-30 lg-pt-50 xs-pb-10 xs-pl-20 xs-pr-20">
				<h1>
					Modern web development delivering the best of the USGS to the public.
				</h1>
				<h2>
					We are geographers, cartographers, and scientists who are passionate about science communication
				</h2>
			</div>
		</div>


		<div class="standard-width xs-p-15 sm-p-20 md-p-30 lg-p-50">

			<!-- Team Display/Loop -->
			<!-- Team Display/Loop -->
			<!-- Team Display/Loop -->
			<div class="team-display xs-f-start xs-f-wrap">

				<div class="member" v-for="member in members" v-bind:id="member.first_name" tabindex="0" v-on:click="openMemberPopup(member.first_name)">
					
					<div class="member-image" v-bind:style="'background-image: url(/src/images/team/' + member.first_name + '.jpg);'">
						<img v-bind:src="'/src/images/team/' + member.first_name + '.jpg'" class="member-image-element" v-bind:alt="member.first_name + ' ' + member.last_name + '\'s Photo'" v-bind:title="member.first_name + ' ' + member.last_name" />
					</div>
					<div class="member-meta">
						<b class="text-sm">${ member.first_name} ${ member.last_name }</b>
						<span class="text-body member-title">${ member.title }</span>
					</div>
				</div>
			</div>

			<!-- Alumni Display -->
			<!-- Alumni Display -->
			<!-- Alumni Display -->
			<div class="alumni-display xs-f-start xs-f-wrap" v-bind:class="{ 'toggled': showAlumni }">
				
				<h1 class="alumni-header xs-mt-10 lg-mt-20 xs-mb-10 lg-mb-20">Alumni</h1>

				<div class="alumni-overlay" v-on:click="showAlumni = true"></div>

				<div class="member" v-for="member in alumni" v-bind:id="member.first_name" tabindex="0" v-on:click="openAlumniPopup(member.first_name)">
					
					<div class="member-image" v-bind:style="'background-image: url(/src/images/team/' + member.first_name + '.jpg);'">
						<img v-bind:src="'/src/images/team/' + member.first_name + '.jpg'" class="member-image-element" v-bind:alt="member.first_name + ' ' + member.last_name + '\'s Photo'" v-bind:title="member.first_name + ' ' + member.last_name" />
					</div>
					<div class="member-meta">
						<b class="text-sm">${ member.first_name} ${ member.last_name }</b>
						<span class="text-body block">${ member.years }</span>
					</div>
				</div>

			</div>
		

			<!-- Lightbox for bio modals -->
			<!-- Lightbox for bio modals -->
			<div class="member-about-lightbox" v-bind:class="{ 'visible': showMemberPopup }"></div>
			<!-- Member Popup -->
			<!-- Member Popup -->
			<div class="member-popup" v-bind:id="selected.first_name + 'Bio'" style="z-index : 9999" v-bind:class="{ 'visible': showMemberPopup }" v-on:click="closeMemberPopup()">
				<div class="member-about-content" v-on:click.stop="">
					<div class="close-bio-icon" v-on:click="closeMemberPopup()">
						<i class="far fa-times"></i>
					</div>
					<div class="member-about-scroll xs-p-25 lg-p-30">
						<div class="xs-f-btw xs-mb-15">
							<div class="member-about-image" v-bind:style="'background-image: url(/src/images/team/' + selected.first_name + '.jpg);'"></div>
							<div class="member-about-header xs-f-center xs-f-col">
								<h3>${ selected.first_name } ${ selected.last_name }</h3>
								<h4>${ selected.title }</h4>
								<div class="xs-f-start xs-f-wrap">
									<div class="text-body xs-mr-10" v-if="selected.phone">${ selected.phone }</div>
									<a v-bind:href="'mailto:' + selected.email" class="xs-mb-10 text-body">${ selected.email }</a>
								</div>
							</div>
						</div>
						<p>${ selected.bio }</p>
					</div>
				</div>

			</div>

		</div>

		<!-- Team Footer -->
		<div class="team-footer">
			<img src="/src/images/team/group_19.jpg" alt="WIM Group Photo" title="Group Photo" class="group-photo" />
		</div>
			
		<!-- 
		Footer
		-->
		@@include('../i/includes/footer.html')

		
	</span>


	<!-- Team JS Controller -->
	<script src="../src/js/team.js"></script>

</body>
</html>
