<!DOCTYPE html>
<html>
<head>
    {% set page_title = "Web Informatics & Mapping" %}
    {% set meta_desc = "Web Informatics and Mapping (WIM) develops web-based tools that support USGS science and other federal science initiatives. Our projects range from full-featured database applications to limited-scope data visualizations." %}
    {% set theme_color = "#030508" %}
    {% set share_title = "Web Informatics & Mapping" %}
    {% set share_desc = "WIM develops web-based tools that support USGS science and other federal science initiatives. Our projects range from full-featured database applications to limited-scope data visualizations." %}
    {% set share_url = "https://wim.usgs.gov/" %}
    {% set fb_img = "https://wim.usgs.gov/src/images/branding/meta/Facebook.png" %}
    {% set tw_img = "https://wim.usgs.gov/src/images/branding/meta/Twitter.png" %}


    {% include "./i/includes/header.html" %}
</head>
<body>

    <!-- 
    USGS Header, USA Banner, and Nav
    -->
    {% include "./i/includes/usa-banner.html" %}
    {% include "./i/includes/nav.html" %}
    
    
    <div class="hero-home">
        <div class="standard-width xs-p-15 sm-p-20 md-p-30 lg-p-50">
            <h1 class="xs-mt-30 lg-mt-50 xs-mb-20">Web Informatics & Mapping</h1>
            <h3 class="xs-mb-30 lg-mb-50">Modern Web Development in support of delivering the best of the USGS to the public.</h3>
        </div>
    </div>

    <!-- Main Content -->
    <div class="standard-width xs-p-15 sm-p-20 md-p-30 lg-p-50 home-body">


        <div class="home-hero xs-mb-50 lg-mb-100" id="app">
            <div class="hero-image"></div>
            <div class="hero-text xs-pt-50 xs-pb-50 lg-pt-100 lg-pb-100">
                <h1 class="xs-mb-5">Web Informatics & Mapping</h1>
                <h3>Modern Web Development in support of delivering the best of the USGS to the public.</h3>
            </div>
        </div>
    


        <h2>What is Web Informatics and Mapping??</h2>
        <div class="text-body xs-pt-15 lg-pt-25 home-paragraph">
            Web Informatics and Mapping (WIM) develops web-based tools that support USGS science and other federal science initiatives. Our projects range from full-featured database applications to limited-scope data visualizations. WIM team members combine collective expertise in cartography, science, and web technology to create custom products that are practical, intuitive, and focused on our cooperators' needs.
        </div>
        <div class="text-body xs-pt-15 lg-pt-25 home-paragraph">
            Our work includes digital cartography, data visualization, data management, data analysis, and decision support. All of our applications are created with the latest web technology, including Angular and ArcGIS. You can view the code for our public projects on our GitHub at <a href="https://github.com/usgs-wim" target="_blank">github.com/USGS-WIM</a>. You can also view the frontend style guide WIM's applications use at <a href="https://wim.usgs.gov/styleguide/" title="WIM Frontend Style Guide">wim.usgs.gov/styleguide</a>.
        </div>

        <!-- Who we work with -->
        <h2 class="xs-pt-75 lg-pt-100">Who do we Work With?</h2>
        <div class="cooperator-logos xs-pt-20 lg-pt-30 xs-f-start lg-f-btw f-wrap">
            <img src="/src/images/cooperators/fws.png" title="US Fish and Wildlife Service" alt="US Fish and Wildlife Service Logo"/>
            <img src="/src/images/cooperators/epa.png" title="US Environmental Protection Agency" alt="US Environmental Protection Agency Logo"/>
            <img src="/src/images/cooperators/doi.png" title="US Department of the Interior" alt="US Department of the Interior Logo"/>
            <img src="/src/images/cooperators/noaa.png" title="National Oceanic and Atmospheric Administration" alt="National Oceanic and Atmospheric Administration Logo"/>
            <img src="/src/images/cooperators/glri.png" title="Great Lakes Restoration Initiative" alt="Great Lakes Restoration Initiative Logo"/>
            <img src="/src/images/cooperators/ijc.png" title="International Joint Commission" alt="International Joint Commission"/>
            <img src="/src/images/cooperators/lcc.png" title="Landscape Conservation Cooperatives" alt="Landscape Conservation Cooperatives Logo"/>
            <img src="/src/images/cooperators/badriver.png" title="Bad River Band of Lake Superior Chippewa Tribe" alt="Bad River Band of Lake Superior Chippewa Tribe Logo"/>
            <img src="/src/images/cooperators/nawqa.png" title="USGS National Water-Quality Assessment Program" alt="USGS National Water-Quality Assessment Logo"/>
            <img src="/src/images/cooperators/dhs.png" title="US Department of Homeland Security" alt="US Department of Homeland Security"/>
            <img src="/src/images/cooperators/ars.png" title="USDA Agricultural Research Service" alt="USDA Agricultural Research Service"/>
        </div>


        <!-- Interested in working with us? -->
        <h2 class="xs-pt-75 lg-pt-100">Interested in working with us?</h2>
        <div class="text-body xs-pt-15 lg-pt-25 home-paragraph">
            Our projects vary widely in scale, scope, and budget. To work with us or find out more about the individualized services we offer, please contact us.
        </div>
        <div class="wim-contact xs-pt-20 lg-pt-30 xs-f-start f-wrap">
            <div class="wim-contact-person xs-pr-25 xs-pb-25 md-pr-40 lg-pr-50">
                <h3>Gary Latzke</h3>
                <h4>WIM Program Manager</h4>
                <a class="text-body" href="mailto:gdlatzke@usgs.gov">gdlatzke@usgs.gov</a>
                <div class="text-body">608-821-3805</div>
            </div>
            <div class="wim-contact-person xs-pr-25 xs-pb-25 md-pr-40 lg-pr-50">
                <h3>Bruce Droster</h3>
                <h4>Administrative Coordinator</h4>
                <a class="text-body" href="mailto:bdroster@usgs.gov">bdroster@usgs.gov</a>
                <div class="text-body">608-821-3907</div>
            </div>
            <div class="wim-contact-person xs-pr-25 xs-pb-25 md-pr-40 lg-pr-50">
                <h3>Hans Vraga</h3>
                <h4>Project Manager</h4>
                <a class="text-body" href="mailto:hvraga@usgs.gov">hvraga@usgs.gov</a>
                <div class="text-body">703-648-5670</div>
            </div>
        </div>


    </div>



    <!-- 
    Footer
    -->
    {% include "./i/includes/footer.html" %}

    <script>
        $("#homeLink").addClass("active");
    </script>

    


</body>
</html>
