<!DOCTYPE html>
<html lang="en">
<head>
	@@include('./i/includes/header.html', {
		"page_title": "Web Informatics & Mapping",
		"meta_desc": "Web Informatics and Mapping (WIM) develops web-based tools that support USGS science and other federal science initiatives. Our projects range from full-featured database applications to limited-scope data visualizations.",
		"theme_color": "#030508",
		"share_title": "Web Informatics & Mapping",
		"share_desc": "WIM develops web-based tools that support USGS science and other federal science initiatives. Our projects range from full-featured database applications to limited-scope data visualizations.",
		"share_url": "https://wim.usgs.gov",
		"fb_image": "https://wim.usgs.gov/src/images/branding/meta/Facebook.png",
		"tw_image": "https://wim.usgs.gov/src/images/branding/meta/Twitter.png"
	})

	<!-- Vue required only on home page -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

    <!-- 
    USGS Header, USA Banner, and Nav
	-->
	@@include('./i/includes/usa-banner.html')
	@@include('./i/includes/nav.html')
    
    
    <div class="hero-home">
        <div class="standard-width xs-p-15 sm-p-20 md-p-30 lg-p-50">
            <h1 class="xs-mt-30 lg-mt-50 xs-mb-20">Web Informatics & Mapping</h1>
            <h3 class="xs-mb-30 lg-mb-50">Modern Web Development in support of delivering the best of the USGS to the public.</h3>
        </div>
    </div>

    <!-- Main Content -->
    <div class="standard-width xs-p-15 sm-p-20 md-p-30 lg-p-50 home-body">

        <h2>What is Web Informatics and Mapping?</h2>
        <div class="text-body xs-pt-15 lg-pt-25 home-paragraph">
            Web Informatics and Mapping (WIM) develops web-based tools that support USGS science and other federal science initiatives. Our projects range from full-featured database applications to limited-scope data visualizations. WIM team members combine collective expertise in cartography, science, and web technology to create custom products that are practical, intuitive, and focused on our cooperators' needs.
        </div>
        <div class="text-body xs-pt-15 lg-pt-25 home-paragraph">
            Our work includes digital cartography, data visualization, data management, data analysis, and decision support. All of our applications are created with the latest web technology, including Angular and ArcGIS. You can view the code for our public projects on our GitHub at <a href="https://github.com/usgs-wim" target="_blank">github.com/USGS-WIM</a>. You can also view the frontend style guide WIM's applications use at <a href="https://wim.usgs.gov/styleguide/" title="WIM Frontend Style Guide">wim.usgs.gov/styleguide</a>.
		</div>
		
		<!-- Projects -->
		<h2 class="xs-pt-50 lg-pt-75">Our Projects</h2>
		<!-- 
			__   __ _   _   ___      (_) ___ 
			\ \ / /| | | | / _ \     | |/ __|
			\ V / | |_| ||  __/ _   | |\__ \
			\_/   \__,_| \___|(_) _/ ||___/
								|__/      
			Vue wimProjects app starts here
			Vue tags are wrapped with ${ TAG } instead of double brackets
		-->
		<div class="standard-width" id="wimProjects">

			<div class="text-body xs-pt-15 lg-pt-20 home-paragraph">
				View our full list of public projects on the table below or on our <a href="https://github.com/usgs-wim" target="_blank">GitHub</a>. You can search projects by name, description, and languages, or you can click on a project's language or tag to show matching projects.
			</div>
		

			<div class="project-search xs-mt-10 lg-mt-15">
				<label for="projectSearch">Search Projects</label>
				<input type="text" v-model="projectSearch" name="projectSearch" id="projectSearch" placeholder="Type to start searching..." @focus="showAllProjects = true"/>
			</div>

			<div class="projects-compact xs-mt-10 lg-mt-20" v-bind:class="{ 'show-all': showAllProjects }">


				<!-- All Projects Loop -->
				<div class="project-item xs-mb-20 lg-mb-25" v-for="repo in filteredList">
					<div class="heading">${ repo.name }</div>
					<div class="caption">${ repo.description }</div>
					<div class="tags">
						<span v-bind:class="tag" v-for="tag in repo.tags" v-on:click="projectSearch = tag">${ tag }</span>
					</div>
					<div class="languages">
						<span v-for="language in repo.languages" v-on:click="projectSearch = language">${ language }</span>
					</div>
					<div class="project-links">
						<a v-bind:href="repo.homepageURL" target="_blank" v-if="repo.homepageURL != null" class="homepage-link">
							<i class="far fa-external-link"></i>
							<span>Open</span>
						</a>
						<a v-bind:href="'https://github.com/usgs-wim/'+repo.name" target="_blank" class="github-link">
							<i class="fab fa-github"></i>
							<span>GitHub</span>
						</a>
					</div>
				</div>

				<!-- No Projects -->
				<div class="no-projects" v-if="!filteredList.length">
					<i class="far fa-empty-set"></i>
					<div class="xs-mt-15">No projects found.</div>
				</div>

				<!-- Show all projects -->
				<div class="show-all-projects" v-if="!showAllProjects" v-on:click="showAllProjects = true">
					<div class="xs-mt-15">View all projects</div>
				</div>

			</div>
		</div>
		


        <!-- Who we work with -->
        <h2 class="xs-pt-75 lg-pt-100">Who do we Work With?</h2>
        <div class="cooperator-logos xs-pt-20 lg-pt-30 xs-f-start lg-f-btw f-wrap">
            <img src="/src/images/cooperators/fws.png" title="US Fish and Wildlife Service" alt="US Fish and Wildlife Service Logo"/>
            <img src="/src/images/cooperators/epa.png" title="US Environmental Protection Agency" alt="US Environmental Protection Agency Logo"/>
            <img src="/src/images/cooperators/doi.png" title="US Department of the Interior" alt="US Department of the Interior Logo"/>
            <img src="/src/images/cooperators/noaa.png" title="National Oceanic and Atmospheric Administration" alt="National Oceanic and Atmospheric Administration Logo"/>
            <img src="/src/images/cooperators/glri.png" title="Great Lakes Restoration Initiative" alt="Great Lakes Restoration Initiative Logo"/>
            <img src="/src/images/cooperators/ijc.png" title="International Joint Commission" alt="International Joint Commission"/>
            <img src="/src/images/cooperators/lcc.png" title="Landscape Conservation Cooperatives" alt="Landscape Conservation Cooperatives Logo"/>
            <img src="/src/images/cooperators/badriver.png" title="Bad River Band of Lake Superior Chippewa Tribe" alt="Bad River Band of Lake Superior Chippewa Tribe Logo"/>
            <img src="/src/images/cooperators/nawqa.png" title="USGS National Water-Quality Assessment Program" alt="USGS National Water-Quality Assessment Logo"/>
            <img src="/src/images/cooperators/dhs.png" title="US Department of Homeland Security" alt="US Department of Homeland Security"/>
            <img src="/src/images/cooperators/ars.png" title="USDA Agricultural Research Service" alt="USDA Agricultural Research Service"/>
        </div>


        <!-- Interested in working with us? -->
        <h2 class="xs-pt-75 lg-pt-100">Interested in working with us?</h2>
        <div class="text-body xs-pt-15 lg-pt-25 home-paragraph">
            Our projects vary widely in scale, scope, and budget. To work with us or find out more about the individualized services we offer, please contact us.
        </div>
        <div class="wim-contact xs-pt-20 lg-pt-30 xs-f-start f-wrap">
            <div class="wim-contact-person xs-pr-25 xs-pb-25 md-pr-40 lg-pr-50">
                <h3>Gary Latzke</h3>
                <h4>WIM Program Manager</h4>
                <a class="text-body" href="mailto:gdlatzke@usgs.gov">gdlatzke@usgs.gov</a>
                <div class="text-body">608-821-3805</div>
            </div>
            <div class="wim-contact-person xs-pr-25 xs-pb-25 md-pr-40 lg-pr-50">
                <h3>Bruce Droster</h3>
                <h4>Administrative Coordinator</h4>
                <a class="text-body" href="mailto:bdroster@usgs.gov">bdroster@usgs.gov</a>
                <div class="text-body">608-821-3907</div>
            </div>
            <div class="wim-contact-person xs-pr-25 xs-pb-25 md-pr-40 lg-pr-50">
                <h3>Hans Vraga</h3>
                <h4>Project Manager</h4>
                <a class="text-body" href="mailto:hvraga@usgs.gov">hvraga@usgs.gov</a>
                <div class="text-body">703-648-5670</div>
			</div>
			
        </div>


    </div>



    <!-- 
    Footer
    -->
	@@include('./i/includes/footer.html')

    <script>
		$("#homeLink").addClass("active");
	</script>
	<!-- Projects JS Controller -->
    <script src="/src/js/projects.js"></script>
	

    


</body>
</html>
