<!DOCTYPE html>
<html>
<head>

    
    <!-- Project Info -->
    {% set desc = "StreamStats provides access to spatial analytical tools providing USGS water science-backed information that are useful for water-resources planning and management, and for engineering and design purposes." %}
    {% set slug = "streamstats" %}
    {% set name = "StreamStats" %}
    {% set name_full = "" %}
    {% set cooperator = "USGS Water Mission Area" %}
    {% set cooperator_logo = "wma" %}

    <!-- Images & Captions -->
    {% set screenshots = [
        {
            file: "streamstats_1.png",
            description: "Primary StreamStats Client Interface showing large basin in IA"
        },{
            file: "streamstats_2.png",
            description: "API documentation for National Streamflow Statistics"
        },{
            file: "streamstats_3.png",
            description: "Upstream flow trace from pourpoint in an OH basin"
        },{
            file: "streamstats_4.png",
            description: "Flow Statistics available in Streamstats report"
        }
    ] %}

    <!-- Description Paragraphs -->
    {% set description = [
        "StreamStats is a Web-based Geographic Information Systems (GIS) application that provides users with access to an assortment of analytical tools that are useful for a variety of water-resources planning and management purposes, and for engineering and design purposes. StreamStats users can select USGS data-collection station locations shown on a map and obtain previously published information for the stations. Users also can select any location along a stream and obtain the drainage-basin boundary, basin characteristics, and estimates of streamflow statistics for the location. The streamflow statistics that StreamStats can provide for data-collection stations and for user-selected ungaged sites vary among the implemented states and among data-collection stations within states.",
        "WIM began collaborating with the USGS Water Mission Area StreamStats development team in 2014, and has since taken the technical and architecture lead in web development. To keep StreamStats on the forefront of web technology, WIM has moved StreamStats away from a proprietary monolithic application to an ecosystem of web applications and services allowing for more flexibility and extensibility. Adapting an industry-standard database, web service, and client architecture model has allowed development of numerous APIs and clients to allow for external development on this key system as well better integration possibilities within the USGS. WIM looks forward to continued involvement in the project, adding additional features and functionality to StreamStats as well as integrating with other Water Mission Area systems and services."
    ] %}

    <!-- Related Repos -->
    {% set related_repos = [
        {
            name: "StreamStats",
            description: "USGS Streamstats Web Application",
            homepageURL: "https://streamstats.usgs.gov/ss/"
        },{
            name: "StreamStatsWebserviceDocumentation",
            description: "Light weight angular app that documents ss REST services",
            homepageURL: "https://streamstats.usgs.gov/streamstatsservices"
        },{
            name: "StreamStatsServices",
            description: "StreamStats REST Services",
            homepageURL: "https://streamstats.usgs.gov/streamstatsservices"
        },{
            name: "StreamStats-Setup",
            description: "Setup scripts and information for StreamStats",
            homepageURL: ""
        },{
            name: "StreamStatsNationalServices",
            description: "National Implementation of Streamstats Services",
            homepageURL: ""
        },{
            name: "NSS",
            description: "NSS Client Application",
            homepageURL: ""
        },{
            name: "NSSServices",
            description: "Services to calculate National Streamflow statistics",
            homepageURL: "https://streamstats.usgs.gov/nssservices"
        },{
            name: "wateruse",
            description: "Client application for data management of wateruse data",
            homepageURL: "https://test.streamstats.usgs.gov/wu"
        },{
            name: "WaterUseServices",
            description: "Services for wateruse data",
            homepageURL: ""
        },{
            name: "NavigationServices",
            description: "Network navigation REST web services used for NHDplus V2 network navigation",
            homepageURL: "https://streamstats.usgs.gov/navigationservices"
        },{
            name: "StreamStats-Tools",
            description: "A collection of tools for StreamStats data preparation and upload to AWS",
            homepageURL: ""
        },{
            name: "FlowDirectionTraceServices",
            description: "StreamStats custom Flow Direction Trace to be served as a arcgeo-processing service",
            homepageURL: "https://streamstats.usgs.gov/navigationservices"
        },{
            name: "TravelTime",
            description: "Time of travel client application",
            homepageURL: ""
        },{
            name: "TravelTimeService",
            description: "StreamStats Time of travel",
            homepageURL: ""
        }
    ] %}

    <!-- Repo Links -->
    {% set repo_links = [
        {
            link: "https://streamstats.usgs.gov/ss/",
            text: "Open StreamStats",
            link_icon: "fas fa-external-link-square"
        },{
            link: "https://www.usgs.gov/mission-areas/water-resources/science/streamstats-streamflow-statistics-and-spatial-analysis-tools",
            text: "View Project Page",
            link_icon: "fas fa-info-square"
        }
    ] %}


    <!-- Page Meta -->
    {% set page_title = name ~ " | Web Informatics & Mapping" %}
    {% set meta_desc = desc %}
    {% set theme_color = "#030508" %}
    {% set share_title = name ~ " | Web Informatics & Mapping" %}
    {% set share_desc = desc %}
    {% set share_url = "https://wim.usgs.gov/i/projects/" ~ slug ~ ".html" %}
    {% set fb_img = "https://wim.usgs.gov/src/images/branding/meta/Facebook.png" %}
    {% set tw_img = "https://wim.usgs.gov/src/images/branding/meta/Twitter.png" %}



    
    {% include "../includes/header.html" %}

</head>
<body>

    <!-- 
        Include Project Page include file
    -->
    {% include "project.html" %}


    <!-- <script src="/src/js/projects.js"></script> -->

  
</body>
</html>
