<!DOCTYPE html>
<html>

<head>

    {% set page_title = "FIM: Web Informatics & Mapping" %}
    {% set meta_desc = "WIM's projects are built using the latest web technologies to support USGS science and other federal science initiatives. Our projects range from full-featured database applications to limited-scope data visualizations." %}
    {% set theme_color = "#030508" %}
    {% set share_title = "FIM: Web Informatics & Mapping" %}
    {% set share_desc = "WIM's projects are built using the latest web technologies to support USGS science and other federal science initiatives. Our projects range from full-featured database applications to limited-scope data visualizations." %}
    {% set share_url = "https://wim.usgs.gov/i/projects/fim.html" %}
    {% set fb_img = "https://wim.usgs.gov/src/images/projects/fim_1.png" %}
    {% set tw_img = "https://wim.usgs.gov/src/images/projects/fim_1.png" %}


    <!-- 
        Project Specific Variables
    -->
    {% set project_name = "FIM" %}
    {% set project_slug = "fim" %}
    {% set short_desc = "FIM's Short description." %}

    <!-- Images & Captions -->
    {% set screenshots = [
        {
            file: "fim_1.png",
            description: "FIM Screenshot 1 Caption"
        },{
            file: "fim_1.png",
            description: "FIM Screenshot 2 Caption"
        },{
            file: "fim_1.png",
            description: "FIM Screenshot 3 Caption"
        },{
            file: "fim_1.png",
            description: "FIM Screenshot 4 Caption"
        }
    ] %}

    <!-- Description Paragraphs -->
    {% set description = [
        "FIM Description paragraph 1.",
        "FIM Description paragraph 2."
    ] %}

    <!-- Cooperator Logo -->
    {% set cooperator_logo = "fim_cooperator.png" %}


    <!-- Related Repos -->
    {% set related_repos = [
        {
            name: "fim-js",
            description: "Flood inundation map libraries with real-time USGS river-level data."
        }
    ] %}

    <!-- Repo Links -->
    {% set repo_links = [
        {
            link: "https://github.com/usgs-wim/fim-js",
            text: "View on GitHub",
            link_icon: "fab fa-github"
        },{
            link: "https://www.usgs.gov/mission-areas/water-resources/science/flood-inundation-mapping-fim-program?qt-science_center_objects=0#qt-science_center_objects",
            text: "View Project Page",
            link_icon: "fas fa-external-link-square"
        }
    ] %}




    {% include "../includes/header.html" %}

</head>

<body>

    <!-- 
        Include Project Page include file
    -->
    {% include "project.html" %}


    <!-- <script src="/src/js/projects.js"></script> -->


</body>

</html>