<!DOCTYPE html>
<html>

<head>

    <!-- Project Info -->
    {% set desc = "The USGS Flood Inundation Mapper combines flood inundation map libraries with real-time USGS river-level data and National Weather Service flood forecasts into a powerful tool that helps communicate when and where flooding may occur and better inform local responses that can protect lives and property." %}
    {% set slug = "fim" %}
    {% set name = "FIM" %}
    {% set name_full = "Flood Inundation Mapper" %}
    {% set cooperator = "USGS Water Mission Area" %}
    {% set cooperator_logo = "wma" %}

    <!-- Images & Captions -->
    {% set screenshots = [
        {
            file: "fim_1.png",
            description: "FIM Flood Tools"
        },{
            file: "fim_2.png",
            description: "Site Hydrograph"
        },{
            file: "fim_3.png",
            description: "AHPS Forecast Sites & Explanation"
        },{
            file: "fim_4.png",
            description: "Minimized Flood Tools"
        }
    ] %}

    <!-- Description Paragraphs -->
    {% set description = [
        "The USGS Flood Inundation Mapping Program has two main functions:",
        "1) Partner with local communities to assist with the development and validation of flood inundation map libraries. A flood inundation map library is a set of maps that shows where flooding may occur over a range of water levels in the community's local stream or river. The USGS works with communities to identify an appropriate stream section, gather the necessary data to model where flooding will likely occur, and verify that the maps produced are scientifically sound.",
        "2) Provide online access to flood inundation maps along with real-time streamflow data, flood forecasts, and potential loss estimates. Once a community's map library is complete, it is uploaded to the FIM Web application, an online public mapping application. This web application allows users to explore the full set of inundation maps that shows where flooding would occur given a selected stream condition. Users can also access historical flood information and potential loss estimates based on the severity of the flood. The FIM Web Application helps communities visualize potential flooding scenarios, identify areas and resources that may be at risk, and enhance their local response effort during a flooding event.",
        "WIM has lead development and technical operations of the USGS FIM program since inception. In collaboration with the Water Mission Area and other Water Science Center personnel, WIM has provided FIM map services, supported the development and deployment of new FIM sites, and maintained an interactive web application to serve the public."
    ] %}

    <!-- Related Repos -->
    {% set related_repos = [] %}

    <!-- Repo Links -->
    {% set repo_links = [
        {
            link: "https://github.com/usgs-wim/fim-js",
            text: "View on GitHub",
            link_icon: "fab fa-github"
        },{
            link: "https://www.usgs.gov/mission-areas/water-resources/science/flood-inundation-mapping-fim-program?qt-science_center_objects=0#qt-science_center_objects",
            text: "View Project Page",
            link_icon: "fas fa-external-link-square"
        }
    ] %}



    {% include "../includes/header.html" %}

</head>

<body>

    <!-- 
        Include Project Page include file
    -->
    {% include "project.html" %}


    <!-- <script src="/src/js/projects.js"></script> -->


</body>

</html>