<!DOCTYPE html>
<html>

<head>

    <!-- Project Info -->
    {% set desc = "NAWQA provides results from the largest-ever assessment of water-quality changes in the Nation's streams and rivers." %}
    {% set slug = "nawqa" %}
    {% set name = "NAWQA" %}
    {% set name_full = "National Water-Quality Assessment" %}


    <!-- Images & Captions -->
    {% set screenshots = [
        {
            file: "nawqa_1.png",
            description: "NAWQA Screenshot 1 Caption"
        },{
            file: "nawqa_1.png",
            description: "NAWQA Screenshot 2 Caption"
        },{
            file: "nawqa_1.png",
            description: "NAWQA Screenshot 3 Caption"
        },{
            file: "nawqa_1.png",
            description: "NAWQA Screenshot 4 Caption"
        }
    ] %}

    <!-- Description Paragraphs -->
    {% set description = [
        "In 1991, Congress established the National Water-Quality Assessment (NAWQA) Project to address where, when, why, and how the Nation's water quality has changed, or is likely to change in the future, in response to human activities and natural factors. Since then, NAWQA has produced scientific data and knowledge that is used by national, regional, state, and local agencies to develop science-based policies and management strategies to improve and protect water resources used for drinking water, recreation, irrigation, energy development, and ecosystem needs.",
        "Our NAWQA web application provides results from the largest-ever assessment of water-quality changes in the Nation's streams and rivers. More than 185 million water-quality records from over 600 Federal, State, Tribal, and local organizations were screened as part of this assessment."
    ] %}

    <!-- Related Repos -->
    {% set related_repos = [
        {
            name: "Related Repos",
            description: "Related repos will be here."
        }
    ] %}

    <!-- Repo Links -->
    {% set repo_links = [
        {
            link: "https://github.com/USGS-WiM/nawqa-sw-trends",
            text: "View on GitHub",
            link_icon: "fab fa-github"
        }
    ] %}




    {% include "../includes/header.html" %}

</head>

<body>

    <!-- 
        Include Project Page include file
    -->
    {% include "project.html" %}


    <!-- <script src="/src/js/projects.js"></script> -->


</body>

</html>