<!DOCTYPE html>
<html>

<head>

    {% set page_title = "NAWQA: Web Informatics & Mapping" %}
    {% set meta_desc = "WIM's projects are built using the latest web technologies to support USGS science and other federal science initiatives. Our projects range from full-featured database applications to limited-scope data visualizations." %}
    {% set theme_color = "#030508" %}
    {% set share_title = "NAWQA: Web Informatics & Mapping" %}
    {% set share_desc = "WIM's projects are built using the latest web technologies to support USGS science and other federal science initiatives. Our projects range from full-featured database applications to limited-scope data visualizations." %}
    {% set share_url = "https://wim.usgs.gov/i/projects/nawqa.html" %}
    {% set fb_img = "https://wim.usgs.gov/src/images/projects/nawqa_1.png" %}
    {% set tw_img = "https://wim.usgs.gov/src/images/projects/nawqa_1.png" %}


    <!-- 
        Project Specific Variables
    -->
    {% set project_name = "NAWQA" %}
    {% set project_slug = "nawqa" %}
    {% set short_desc = "NAWQA Short Description." %}

    <!-- Images & Captions -->
    {% set screenshots = [
        {
            file: "nawqa_1.png",
            description: "NAWQA Screenshot 1 Caption"
        },{
            file: "nawqa_1.png",
            description: "NAWQA Screenshot 2 Caption"
        },{
            file: "nawqa_1.png",
            description: "NAWQA Screenshot 3 Caption"
        },{
            file: "nawqa_1.png",
            description: "NAWQA Screenshot 4 Caption"
        }
    ] %}

    <!-- Description Paragraphs -->
    {% set description = [
        "NAWQA Description paragraph 1.",
        "NAWQA Description paragraph 2."
    ] %}

    <!-- Cooperator Logo -->
    {% set cooperator_logo = "nawqa_cooperator.png" %}


    <!-- Related Repos -->
    {% set related_repos = [
        {
            name: "NAWQATrends",
            description: "NaWQA Decadal Trends in Groundwater."
        }
    ] %}

    <!-- Repo Links -->
    {% set repo_links = [
        {
            link: "https://github.com/usgs-wim/",
            text: "View on GitHub",
            link_icon: "fab fa-github"
        }
    ] %}




    {% include "../includes/header.html" %}

</head>

<body>

    <!-- 
        Include Project Page include file
    -->
    {% include "project.html" %}


    <!-- <script src="/src/js/projects.js"></script> -->


</body>

</html>