{% set page_title = name + ": Web Informatics & Mapping" %}
{% set meta_desc = desc %}
{% set theme_color = "#030508" %}
{% set share_title = name + ": Web Informatics & Mapping" %}
{% set share_desc = desc %}

{% set share_url = "https://wim.usgs.gov/i/projects/" + slug + ".html" %}
{% set fb_img = "https://wim.usgs.gov/src/images/projects/" + slug + "_1.png" %}
{% set tw_img = "https://wim.usgs.gov/src/images/projects/" + slug + "_1.png" %}

<!-- Cooperator Logo -->
{% set cooperator_logo = slug + "_cooperator.png" %}


<!-- 
    USGS Header, USA Banner, and Nav
-->
{% include "../includes/usa-banner.html" %}
{% include "../includes/nav.html" %}

<!-- Main Content -->

<div class="project-hero xs-f-center xs-f-col">
    {{ name }}
</div>

<div class="standard-width xs-p-15 sm-p-20 md-p-30 lg-p-50 project-page">

    
    
    
    <!-- 
        Description
    -->
    {% for paragraph in description %}
    <div class="text-body xs-pt-15 lg-pt-25">
        {{ paragraph }}
    </div>
    {% endfor %}

    <!-- 
        Screenshots
    -->
    <div class="project-thumbnails xs-f-btw xs-mt-25">
        {% for item in screenshots %}
        <div class="thumbnail xs-p-15">
            <img src="/src/images/projects/{{ item.file }}"/>
            <div class="caption">{{ item.description }}</div>
        </div>
        {% endfor %}
    </div>
    
    
    <!-- Repo Links -->
    <div class="repo-links xs-f-start f-wrap xs-mt-25">
        {% for item in repo_links %}
        <a href="{{ item.link }}" target="_blank" class="btn-primary btn-icon xs-mr-5 xs-ml-5">
            <i class="{{ item.link_icon }}"></i>
            <span>{{ item.text }}</span>
        </a>
        {% endfor %}
    </div>
    

    <!-- 
        Related Projects
     -->
     
     <h1 class="xs-mt-20 lg-mt-40">Related Repos</h1>
     <div class="projects-compact xs-mt-20">
    
    
        <!-- All Projects Loop (TWIG) -->
        {% for repo in related_repos %}
        <a href="'https://github.com/usgs-wim/{{  }}" target="_blank" class="project-item xs-mb-20 lg-mb-25">
            <div class="heading">{{ repo.name }}</div>
            <div class="text-body">{{ repo.description }}</div>
        </a>
        {% endfor %}
    
    </div>


</div>


<!-- 
Footer
-->
{% include "../includes/footer.html" %}

