<!DOCTYPE html>
<html>

<head>

    <!-- Project Info -->
    {% set desc = "SPARROW is a collection of tools for relating water-quality monitoring data and watershed attributes. Sparrow models are designed to describe the spatial patterns of water quality and the factors that affect it. WIM has partnered with SPARROW scientists to provide a suite of map applications depicting SPARROW models for different regions of the U.S. and parts of Canada." %}
    {% set slug = "sparrow" %}
    {% set name = "SPARROW" %}
    {% set name_full = "SPAtially Referenced Regressions On Watershed attributes" %}
    {% set cooperator = "National Water-Quality Assessment" %}
    {% set cooperator_logo = "nwqa" %}

    <!-- Images & Captions -->
    {% set screenshots = [
        {
            file: "sparrow_1.png",
            description: "The main interface of a SPARROW application allows flexible map selections and customizable data views"
        },{
            file: "sparrow_2.png",
            description: "An example of a SPARROW national model"
        },{
            file: "sparrow_3.png",
            description: "Interactive chart depicting nutrient sources and quantities within a specified region"
        },{
            file: "sparrow_4.png",
            description: "Downloadable table view for all nutrient source values in a user-selected region"
        }
    ] %}

    <!-- Description Paragraphs -->
    {% set description = [
        "SPARROW (SPAtially Referenced Regressions On Watershed attributes) models estimate the amount of a contaminant transported from inland watersheds to larger water bodies by linking monitoring data with information on watershed characteristics and contaminant sources. SPARROW models are used to estimate long-term average values of water characteristics, such as the amount of a contaminant that is delivered downstream, on the basis of existing monitoring data, location and strength of contaminant sources, and characteristics of the landscape.",
        "These interactive map applications are designed around comprehensive user-defined map selections with dynamic graphs and tables to visualize underlying data.  The flexible, map-based approach to viewing SPARROW models helps managers visualize thousands to millions of data points to determine how to reduce loads of contaminants and design protection strategies; design strategies to meet regulatory requirements; predict changes in water quality that might result from management actions; and identify gaps and priorities in monitoring.",
        "In collaboration with local and national SPARROW modelers, WIM has produced several generations of SPARROW online interactive map viewers to highlight the amount of data produced by this powerful model."
    ] %}

    <!-- Related Repos -->
    {% set related_repos = [
        {
            name: "sparrow-national-dissolved-solids-js",
            description: "Related repos will be here."
        },{
            name: "sparrow-midwest-js",
            description: "Related repos will be here."
        },{
            name: "sparrow-northwest-js",
            description: "Related repos will be here."
        },{
            name: "sparrow-midcontinental-js",
            description: "Related repos will be here."
        },{
            name: "sparrow-california-js",
            description: "Related repos will be here."
        },{
            name: "sparrow-marb-js",
            description: "Related repos will be here."
        },{
            name: "sparrowTennessee",
            description: "Related repos will be here."
        },{
            name: "sparrow-greatlakes-js",
            description: "Related repos will be here."
        },{
            name: "sparrow-eastern-us-js",
            description: "Related repos will be here."
        }
    ] %}

    <!-- Repo Links -->
    {% set repo_links = [
        {
            link: "https://github.com/usgs-wim/sparrow-eastern-us-js",
            text: "View on GitHub",
            link_icon: "fab fa-github"
        },{
            link: "https://www.usgs.gov/mission-areas/water-resources/science/sparrow-modeling-estimating-nutrient-sediment-and-dissolved?qt-science_center_objects=4#qt-science_center_objects",
            text: "View Project Page",
            link_icon: "fas fa-external-link-square"
        }
    ] %}


    {% include "../includes/header.html" %}

</head>

<body>

    <!-- 
        Include Project Page include file
    -->
    {% include "project.html" %}


    <!-- <script src="/src/js/projects.js"></script> -->


</body>

</html>