<!DOCTYPE html>
<html>

<head>

    <!-- Project Info -->
    {% set desc = "The U.S. Fish and Wildlife Service is the principal federal agency that provides information to the public on the extent and status of the Nation's wetlands. The agency has developed a series of topical maps to show wetlands and deepwater habitats which can be viewed and downloaded through the wetlands mapper." %}
    {% set slug = "wetlands" %}
    {% set name = "Wetlands" %}
    {% set name_full = "" %}


    <!-- Images & Captions -->
    {% set screenshots = [
        {
            file: "wetlands_1.png",
            description: "Wetlands Screenshot 1 Caption"
        },{
            file: "wetlands_1.png",
            description: "Wetlands Screenshot 2 Caption"
        },{
            file: "wetlands_1.png",
            description: "Wetlands Screenshot 3 Caption"
        },{
            file: "wetlands_1.png",
            description: "Wetlands Screenshot 4 Caption"
        }
    ] %}

    <!-- Description Paragraphs -->
    {% set description = [
        "The Wetlands mapper is designed to deliver easy-to-use, map like views of America's Wetland resources. It integrates digital map data along with other resource information to produce current information on the status, extent, characteristics and functions of wetlands, riparian, and deepwater habitats. The Wetland Mapper fulfills the U.S. Fish and Wildlife Service's strategic plan for the development, revision and dissemination of wetlands data and information to resource managers and the public. This information is intended  to promote the understanding and conservation of wetland resources through discovery and education as well as to aid in resource management, research and decision making.",
        "The wetlands displayed on the Wetlands Mapper show wetland type and extent using a biological definition of wetlands. There is no attempt to define the limits of proprietary jurisdiction of any Federal, State, or local government, or to establish the geographical scope of the regulatory programs of government agencies."
    ] %}

    <!-- Related Repos -->
    {% set related_repos = [
        {
            name: "Related Repos",
            description: "Related repos will be here."
        }
    ] %}

    <!-- Repo Links -->
    {% set repo_links = [
        {
            link: "https://github.com/usgs-wim/wetland-projects-v2",
            text: "View on GitHub",
            link_icon: "fab fa-github"
        }
    ] %}




    {% include "../includes/header.html" %}

</head>

<body>

    <!-- 
        Include Project Page include file
    -->
    {% include "project.html" %}


    <!-- <script src="/src/js/projects.js"></script> -->


</body>

</html>