<!DOCTYPE html>
<html>

<head>

    <!-- Project Info -->
    {% set desc = "The U.S. Fish and Wildlife Service is the principal federal agency that provides information to the public on the extent and status of the Nation's wetlands. The agency has developed a series of topical maps to show wetlands and deepwater habitats which can be viewed and downloaded through the wetlands mapper." %}
    {% set slug = "wetlands" %}
    {% set name = "Wetlands" %}
    {% set name_full = "" %}
    {% set cooperator = "US Fish and Wildlife Service" %}
    {% set cooperator_logo = "fws" %}


    <!-- Images & Captions -->
    {% set screenshots = [
        {
            file: "wetlands_1.png",
            description: "Wetlands Screenshot 1 Caption"
        },{
            file: "wetlands_2.png",
            description: "Wetlands Screenshot 2 Caption"
        },{
            file: "wetlands_3.png",
            description: "Wetlands Screenshot 3 Caption"
        },{
            file: "wetlands_4.png",
            description: "Wetlands Screenshot 4 Caption"
        }
    ] %}

    <!-- Description Paragraphs -->
    {% set description = [
        "The Wetlands mapper is designed to deliver easy-to-use, map like views of America's Wetland resources. It integrates digital map data along with other resource information to produce current information on the status, extent, characteristics and functions of wetlands, riparian, and deepwater habitats. The Wetlands Mapper fulfills the U.S. Fish and Wildlife Service's strategic plan for the development, revision and dissemination of wetlands data and information to resource managers and the public. This information is intended to promote the understanding and conservation of wetland resources through discovery and education as well as to aid in resource management, research and decision making.",
        "WIM personnel and the FWS wetlands group made use of an inter-agency agreement in 2000s to co-develop this key resource. This Federal partnership has yielded tremendous benefits in ongoing efforts to configure, improve and distribute the wetlands map information using newer technologies in digital mapping and web-serving capabilities."
    ] %}

    <!-- Related Repos -->
    {% set related_repos = [
    ] %}

    <!-- Repo Links -->
    {% set repo_links = [
        {
            link: "https://github.com/usgs-wim/swi",
            text: "View on GitHub",
            link_icon: "fab fa-github"
        }
    ] %}

    <!-- Page Meta -->
    {% set page_title = name ~ " | Web Informatics & Mapping" %}
    {% set meta_desc = desc %}
    {% set theme_color = "#030508" %}
    {% set share_title = name ~ " | Web Informatics & Mapping" %}
    {% set share_desc = desc %}
    {% set share_url = "https://wim.usgs.gov/i/projects/" ~ slug ~ ".html" %}
    {% set fb_img = "https://wim.usgs.gov/src/images/branding/meta/Facebook.png" %}
    {% set tw_img = "https://wim.usgs.gov/src/images/branding/meta/Twitter.png" %}


    {% include "../includes/header.html" %}

</head>

<body>

    <!-- 
        Include Project Page include file
    -->
    {% include "project.html" %}


    <!-- <script src="/src/js/projects.js"></script> -->


</body>

</html>