<!DOCTYPE html>
<html>

<head>
    
    <!-- Project Info -->
    {% set desc = "WHISPers is a partner-driven, web-based repository for sharing basic information about historic and ongoing wildlife mortality (death) and/or morbidity (illness) events. The information, such as county-level locations, onset and ending dates, species affected, and diagnosis has generously been shared with the USGS National Wildlife Health Center over time by hundreds of natural resource managers and stakeholders across the U.S. and beyond." %}
    {% set slug = "WHISPers" %}
    {% set name = "Wetlands" %}
    {% set name_full = "Wildlife Health Information Sharing Partnership event reporting system" %}


    <!-- Images & Captions -->
    {% set screenshots = [
        {
            file: "whispers_1.png",
            description: "WHISPers Screenshot 1 Caption"
        },{
            file: "whispers_1.png",
            description: "WHISPers Screenshot 2 Caption"
        },{
            file: "whispers_1.png",
            description: "WHISPers Screenshot 3 Caption"
        },{
            file: "whispers_1.png",
            description: "WHISPers Screenshot 4 Caption"
        }
    ] %}

    <!-- Description Paragraphs -->
    {% set description = [
        "Welcome to WHISPers, a Wildlife Health Information Sharing Partnership event reporting system with current and historic information on wildlife morbidity or mortality events in North America. Events typically involve five or more sick or dead wild animals observed in the same general location and time period. This information is collected opportunistically and provided here by multiple State, Federal, and other agencies to enhance collective understanding of disease in wildlife populations.",
        "WHISPers Description paragraph 2."
    ] %}


    <!-- Related Repos -->
    {% set related_repos = [
        {
            name: "Related Repos",
            description: "Related repos will be here."
        }
    ] %}

    <!-- Repo Links -->
    {% set repo_links = [
        {
            link: "https://github.com/usgs-wim/whispers",
            text: "View on GitHub",
            link_icon: "fab fa-github"
        }
    ] %}




    {% include "../includes/header.html" %}

</head>

<body>

    <!-- 
        Include Project Page include file
    -->
    {% include "project.html" %}


    <!-- <script src="/src/js/projects.js"></script> -->


</body>

</html>