
#homeFeatured{
	display: flex;
	box-sizing: border-box;
	padding: 0 10vw;
	@media (max-width: 1200px) {
		padding: 0;
	}
	@media (max-width: 650px) {
		flex-wrap: wrap;
	}

	section{
		max-width: 40vw;
		width: 40vw;
		min-width: 40vw;
		box-sizing: border-box;
		padding: 10vh 2em;

		@media (max-width: 950px) {
			min-width: 70vw;
			width: 70vw;
			max-width: 70vw;
			padding: 8vh 1.5rem;
		}
		@media (max-width: 650px) {
			padding: 0 1.5rem 35px 1.5rem;
			text-align: center;
			min-width: 100%;
			width: 100%;
		}

		h1{
			font-size: 3.4rem;
			line-height: 3.5rem;
			letter-spacing: -0.05rem;

			@media (max-width: 650px) {
				font-size: 2.8rem;
				line-height: 3rem;
			}
		}
		h2{
			font-size: 4.2rem;
			letter-spacing: -0.05rem;
			line-height: 4.2rem;
			color: var(--primary);
			@media (max-width: 650px) {
				font-size: 3.2rem;
				line-height: 2.8rem;
			}
		}
	}

	#homeFeaturedBackground{
		background-image: url(../assets/soccer-hero.jpg);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		flex-grow: 3;
		min-height: 100%;
		width: 100%;

		@media (max-width: 650px) {
			height: 200px;
			width: 100%;
		}
	}


}

#homeFeaturedTiles{
	display: flex;
	width: 100%;
	box-sizing: border-box;
	padding: 0 10vw;
	margin-bottom: 10vh;
	@media (max-width: 1200px) {
		padding: 0;
	}
	@media (max-width: 950px) {
		flex-wrap: wrap;
	}


	.tile{
		background-color: var(--white);
		flex-grow: 3;
		box-sizing: border-box;
		padding: 3rem 1.5rem;
		color: var(--text);

		@media (max-width: 950px) {
			width: 50vw;
			max-width: 50vw;
			padding: 1.5rem;
		}
		@media (max-width: 600px) {
			width: 100%;
			max-width: 100%;
			padding: 1.5rem;
			&:nth-child(1){
				padding-bottom: 0rem;
			}
		}

		
		&:nth-child(3){
			width: 40vw;
			min-width: 40vw;
			max-width: 40vw;
			background-color: var(--primary);
			color: var(--white);
			@media (max-width: 950px) {
				flex-grow: 3;
				max-width: unset;
			}
		}

		h3{
			margin: 0 0 10px 0;
			font-size: 1.7rem;
		}
	}
}

#homeText{
	p{
		margin-bottom: 5rem;
	}
}