<!-- WIM Footer -->
<footer id="WIM_footer">

	<a href="/" title="WIM Home" id="WIM_footer_branding">
		<img src="{{path}}assets/branding/logo.png" alt="WIM Logo"/>
	</a>

	<p>
		<b>Upper Midwest Water Science Center</b>
		<br/>
		1 Gifford Pinchot Dr, Madison, WI 53726
		<br/>
		1992 Folwell Ave, St. Paul, MN 55108
	</p>

</footer>

<!-- USGS Required Footer -->
<footer id="USGS_footer">
	<div>
		<a href="https://www.doi.gov/privacy">DOI Privacy Policy</a>
		<a href="https://www.usgs.gov/laws/policies_notices.html">Legal</a>
		<a href="https://www2.usgs.gov/laws/accessibility.html">Accessibility</a>
		<a href="https://www.usgs.gov/sitemap.html">Site Map</a>
		<a href="https://answers.usgs.gov/">Contact USGS</a>
	</div>


	<div>
		<a href="https://www.doi.gov/">U.S. Department of the Interior</a>
		<a href="https://www.doioig.gov/">DOI Inspector General</a>
		<a href="https://www.whitehouse.gov/">White House</a>
		<a href="https://www.whitehouse.gov/omb/e-gov/">E-gov</a>
		<a href="https://www.whitehouse.gov/open">Open Government</a>
		<a href="https://www.doi.gov/pmb/eeo/no-fear-act">No Fear Act</a>
		<a href="https://www2.usgs.gov/foia">FOIA</a>
	</div>
</footer>