<div id="USGS_nav">
	<a href="https://usgs.gov" title="USGS Home">
		<img src="{{path}}assets/branding/usgs.png" alt="USGS Logo"/>
	</a>
</div>

<div id="WIM_nav">
	
	<div id="WIM_branding">
		<a href="/" title="WIM Home">
			<img src="{{path}}assets/branding/logo_horizontal.png" alt="WIM Logo"/>
		</a>
	</div>


	<nav id="main">
		<a href="/">
			<span><i class="fas fa-home"></i> Home</span>
		</a>
		<a href="/team">
			<span><i class="fas fa-user-group"></i> Team</span>
		</a>
		<a href="/projects">
			<span><i class="fas fa-rectangle-history"></i> Projects</span>
		</a>
		<a href="/geonarrative">
			<span><i class="fas fa-book-open-cover"></i> Geonarratives</span>
		</a>
	</nav>
</div>
