$screenXS: 380px;
$screenSM: 768px;
$screenLG: 1020px;
$screenXL: 1400px;


// Universal 
body, html{
	margin: 0 auto;
	font-family: var(--sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
	font-size: 1rem;
	width: 100%;
	color: var(--text);
	background-color: var(--background);
	overflow-x: hidden;
}
body{
	max-height: none;
	box-sizing: border-box;
}
*{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
	text-rendering: optimizeLegibility;
}


input, input:before, input:after {
	user-select: initial;
	box-shadow: none;
}

// Image - prevent drag
img{
	pointer-events: none;
	user-select: none;
}
// Hide scrollbars
.no-scrollbars,
.no-scrollbars *{
	scrollbar-width: none;
	// Hidden
	&::-webkit-scrollbar{
		width: 0px;
		display: none;
	}
	// Scrollbar handle/thumb
	&::-webkit-scrollbar-thumb{
		display: none;
		width: 0px;
	}
}
//    Text Selection    //
::selection {
	background: var(--primary);
	color: var(--background);
}
::-moz-selection {
	background: var(--primary); // Gecko Brooowsers
	color: var(--background);
}

