<div class="project-individual">
    <img src="../visuals/projects/{{projects[projectNumber].image}}">
    <h3>{{projects[projectNumber].title}}</h3>
    <a ng-if="projects[projectNumber].learn" target="_blank" class="project-links" href="{{projects[projectNumber].learn}}">View Project Page</a>
    <a ng-if="projects[projectNumber].view" target="_blank" class="project-links" href="{{projects[projectNumber].view}}">Open Application</a>
    <p>
        {{projects[projectNumber].body}}
    </p>
</div>
