<div class="page">

			<section class="mtop-lg">
			<h1>Geonarratives</h1>
			<p class="big">
				Geonarratives are web applications that combine interactive web maps with narrative text, images, and multimedia content. 
			</p>
			<p>
				WIM utilizes ESRI’s story maps templates, which are useful in disseminating science and data in an effective, user-friendly format to educate, engage and connect with other scientists, cooperators, and the public. 
				Create your own USGS, National Park Service, or GeoPlatform VisID compliant Geonarratives using WIM's <a href="https://wim.usgs.gov/styleguide/#/frame/" target="_blank">Geonarrative Frame Generator</a>. WIM can also assist with hosting - reach out to the contacts below for more information.
			</p>
		</section>


		<!-- Featured -->

		<div class="project-grid mtop-lg">


			<!-- Expanding Pacific Exploration & Research -->
			<div class="project">

				<div class="project-image">
					<img src="/img/images/projects/geonarratives/express.png" alt="Expanding Pacific Exploration & Research Screenshot" />
				</div>
				
				<div class="project-info">
					<h4>Expanding Pacific Exploration & Research</h4>
					<p>
						Less than 20% of the world's oceans have been explored. A global initiative seeks to change that, by pledging to complete detailed mapping of 10% of the seafloor by the year 2030.
					</p>
					<div class="flex gap">
						<a class="usa-button" href="https://geonarrative.usgs.gov/expressdataview/" target="_blank">View Geonarrative</a>
					</div>
				</div>
				
			</div>


			<!-- National UVVR Map -->
			<div class="project">

				<div class="project-image">
					<img src="/img/images/projects/geonarratives/UVVR.png" alt="National UVVR Map Screenshot" />
				</div>
				
				<div class="project-info">
					<h4>National UVVR Map</h4>
					<p>
						This map shows the unvegetated and vegetated area of coastal wetlands and adjacent land (inland and shorelines) for the Conterminous United States computed from 2014-2018.
					</p>
					<div class="flex gap">
						<a class="usa-button" href="https://wim.usgs.gov/geonarrative/uscoastalwetlandsynthesis/" target="_blank">View Geonarrative</a>
					</div>
				</div>
				
			</div>



			<!-- Ecological Drought Across the Country -->
			<div class="project">

				<div class="project-image">
					<img src="/img/images/projects/geonarratives/drought.png" alt="Ecological Drought Across the Country Screenshot" />
				</div>
				
				<div class="project-info">
					<h4>Ecological Drought Across the Country</h4>
					<p>
						Learn about how the Climate Adaptation Science Centers have been exploring the topic of ecological drought across the country.
					</p>
					<div class="flex gap">
						<a class="usa-button" href="https://wim.usgs.gov/geonarrative/ecologicaldrought/" target="_blank">View Geonarrative</a>
					</div>
				</div>
				
			</div>



		</div>


		<!-- Conclusion Paragraph -->
		<p class="big">
			You can view a longer list of USGS Geonarratives at the link below.
		</p>
		<a class="usa-button" href="https://geonarrative.usgs.gov/" target="_blank">View More Geonarratives</a>


		<!-- Conclusion Paragraph -->
		<h4 class="mtop-xl">Want to know more about Geonarratives?</h4>
		<p class="big">
			If you think you have a project that could benefit from a geonarrative, please don't hesitate to contact us with any questions or inquiries.
		</p>
		<div class="flex gap mtop-sm">
				<!-- Lorraine -->
				<div class="home-contact">
					<b>Milan Liu</b>
					Cartographer & Enterprise Tools Specialist
					<a href="mailto:msliu@usgs.gov" target="_blank">msliu@usgs.gov</a>
				</div>
				<!-- Hans -->
				<div class="home-contact">
					<b>Jamie Velkoverh</b>
					GIS Specialist
					<a href="mailto:jvelkoverh@usgs.gov" target="_blank">jvelkoverh@usgs.gov</a>
				</div>
			</div>


		<!-- Spacer -->
		<div class="mtop-xl"></div>


</div>