<div class="page">

			<section class="mtop-lg">
			<h1>Geonarratives</h1>
			<p class="big">
				Geonarratives are web applications that combine interactive web maps with narrative text, images, and multimedia content. 
			</p>
		</section>


		<!-- Featured -->

		<div class="project-grid mtop-lg">


			<!-- Phragmites -->
			<div class="project">

				<div class="project-image">
					<img src="/img/images/projects/geonarratives/phragmites.png" alt="Person wading through water" />
				</div>
				
				<div class="project-info">
					<h4>Phragmites Management and Variable Great Lakes Water Levels</h4>
					<p>
						Phragmites australis is a pervasive invasive species across North America and a particular problem in the Great Lakes basin. Land managers spend a great deal of time and resources controlling Phragmites basin-wide. Phragmites expansion across the basin has historically been heavily influenced by water levels. As water levels continue to fluctuate, managers may be able to exploit water levels to implement more effective management. Here, we aim to provide land managers, decision makers, and the public with a historical perspective on the influence of water levels on Phragmites expansion and to identify Phragmites populations best suited for management in high water.
					</p>

					<div class="flex gap">
						<a class="usa-button" href="https://geonarrative.usgs.gov/phragmiteswaterlevels/" target="_blank">View Geonarrative</a>
					</div>
				</div>
				
			</div>


			<!-- Grate Lakes Mercury -->
			<div class="project">

				<div class="project-image">
					<img src="/img/images/projects/geonarratives/mercury.png" alt="Screenshot of a map from the Great Lakes Mercury Geonarrative" />
				</div>
				
				<div class="project-info">
					<h4>Great Lakes Mercury Sources Revealed</h4>
					<p>
						For the first time, resource managers in the Great Lakes can identify sources of mercury, a toxic chemical of significant concern in the region, thanks to a new "fingerprinting" tool for mercury developed by the U.S. Geological Survey (USGS) and collaborators at the University of Wisconsin-Madison. The mercury "fingerprint" is determined by measuring subtle differences in the type of individual mercury isotopes in environmental samples including sediment, biota, water, and air.
					</p>

					<div class="flex gap">
						<a class="usa-button" href="https://geonarrative.usgs.gov/greatlakesmercuryfingerprint/" target="_blank">View Geonarrative</a>
					</div>
				</div>
				
			</div>



			<!-- Bad River -->
			<div class="project">

				<div class="project-image">
					<img src="/img/images/projects/geonarratives/badriver.png" alt="Screenshot from this geonarrative showing the July 2016 flood in northern Wisconsin" />
				</div>
				
				<div class="project-info">
					<h4>Measuring the July 2016 flood in northern Wisconsin and the Bad River Reservation</h4>
					<p>
						Immediately following the flood and continuing through September 2016, the U.S. Geological Survey (USGS) and the Bad River Band of the Lake Superior Tribe of Chippewa Indians (Bad River Tribe) began documenting the flood by collecting evidence of peak flood levels, called high-water marks. USGS scientists used these high-water marks, along with streamflow and lake level, to reconstruct the extent and depth of flood inundation around three streams: the Bad River, Beartrap Creek, and Denomie Creek.
					</p>
					<div class="flex gap">
						<a class="usa-button" href="https://geonarrative.usgs.gov/badriver2016flood/" target="_blank">View Geonarrative</a>
					</div>
				</div>
				
			</div>



		</div>


		<!-- Conclusion Paragraph -->
		<p class="big">
			You can view a longer list of USGS Geonarratives at the link below.
		</p>
		<a class="usa-button" href="https://geonarrative.usgs.gov/" target="_blank">View More Geonarratives</a>


		<!-- Conclusion Paragraph -->
		<h4 class="mtop-xl">Want to know more about Geonarratives?</h4>
		<p class="big">
			For assistance with creating a USGS, National Park Service, or GeoPlatform VisID compliant geonarrative or hosting your page at geonarrative.usgs.gov, please contact WIM's hosting team at usgs-geonarrative-hosting@doimspp.onmicrosoft.com.
			<br/>
			<br/>
			If you think you have a project that could benefit from a geonarrative, please don't hesitate to contact us with any questions or inquiries on our availability to assist.
		</p>
		<div class="flex gap mtop-sm">
				<!-- Milan -->
				<div class="home-contact">
					<b>Milan Liu</b>
					Cartographer & Enterprise Tools Specialist
					<a href="mailto:msliu@usgs.gov" target="_blank">msliu@usgs.gov</a>
				</div>
			</div>


		<!-- Spacer -->
		<div class="mtop-xl"></div>


</div>