<div class="page">


		<section class="mtop-lg">
			<h1>Explore Our Projects</h1>
			<p class="big">
				Discover some of the tools we've developed.
				All applications listed here are publicly available and have links to their
				product websites and additional information.
			</p>
		</section>


		<div class="project-grid mtop-lg">


			<!-- StreamStats -->
			<div class="project">

				<div class="project-image">
					<img src="/img/images/projects/streamstats.png" alt="StreamStats" />
				</div>
				
				<div class="project-info">
					<h2>StreamStats</h3>
					<p>
						StreamStats provides access to spatial analytical tools providing USGS water
						science-backed information that are useful for water-resources planning and management,
						and for engineering and design purposes
					</p>
					<div class="flex gap">
						<a class="usa-button" href="https://streamstats.usgs.gov/ss/" target="_blank">Open StreamStats</a>
						<a class="usa-button usa-button--base" href="https://www.usgs.gov/mission-areas/water-resources/science/streamstats-streamflow-statistics-and-spatial-analysis-tools" target="_blank">Project Page</a>
					</div>
				</div>
				
			</div>


			<!-- FIM -->
			<div class="project">

				<div class="project-image">
					<img src="/img/images/projects/fim_1.png" alt="Flood Inundation Mapper" />
				</div>
				
				<div class="project-info">
					<h3>Flood Inundation Mapper</h3>
					<p>
						The USGS Flood Inundation Mapper combines flood inundation map libraries with real-time
						USGS river-level data and National Weather Service flood forecasts into a powerful tool that helps
						communicate when and where flooding may occur and better inform local responses that can protect lives and property. 
					</p>
					<div class="flex gap">
						<a class="usa-button" href="https://fim.wim.usgs.gov/fim/" target="_blank">Open FIM</a>
						<a class="usa-button usa-button--base" href="https://www.usgs.gov/mission-areas/water-resources/science/flood-inundation-mapping-fim-program?qt-science_center_objects=0#qt-science_center_objects" target="_blank">Project Page</a>
					</div>
				</div>

			</div>


			<!-- SPARROW -->
			<div class="project">

				<div class="project-image">
					<img src="/img/images/projects/sparrow_1.png" alt="SPARROW" />
				</div>
				
				<div class="project-info">
					<h3>SPARROW</h3>
					<p>
						SPARROW is a collection of tools for relating water-quality monitoring data
						and watershed attributes. Sparrow models are designed to describe the spatial patterns of
						water quality and the factors that affect it. WIM has partnered with SPARROW scientists to
						provide a suite of map applications depicting SPARROW models for different regions of the
						U.S. and parts of Canada.
					</p>
					<div class="flex gap">
						<a class="usa-button usa-button--base" href="https://www.usgs.gov/mission-areas/water-resources/science/sparrow-modeling-estimating-nutrient-sediment-and-dissolved?qt-science_center_objects=4#qt-science_center_objects" target="_blank">Project Page</a>
					</div>
				</div>

			</div>

			<!-- WHISPers -->
			<div class="project">

				<div class="project-image">
					<img src="/img/images/projects/whispers_1.png" alt="WHISPers" />
				</div>
				
				<div class="project-info">
					<h3>WHISPers</h3>
					<p>
						WHISPers is the Wildlife Health Information Sharing Partnership event
						reporting system. It web application exposing wildlife mortality data submitted by
						partners across North America and verified by trained biologists.
					</p>
					<div class="flex gap">
						<a class="usa-button" href="https://whispers.usgs.gov/" target="_blank">Open WHISPers</a>
						<a class="usa-button usa-button--base" href="https://www.usgs.gov/centers/nwhc/science/whispers" target="_blank">Project Page</a>
					</div>
				</div>

			</div>

			<!-- Wetlands -->
			<div class="project">

				<div class="project-image">
					<img src="/img/images/projects/wetlands_1.png" alt="Wetlands Inventory" />
				</div>
				
				<div class="project-info">
					<h3>Wetlands Inventory</h3>
					<p>
						The U.S. Fish and Wildlife Service is the principal federal agency that
						provides information to the public on the extent and status of the Nation's wetlands.
						The agency has developed a series of topical maps to show wetlands and deepwater habitats
						which can be viewed and downloaded through the wetlands mapper.
					</p>
					<div class="flex gap">
						<!-- <a class="usa-button usa-button--base" href="https://www.usgs.gov/centers/nwhc/science/whispers" target="_blank">Project Page</a> -->
					</div>
				</div>

			</div>

			<!-- NAWQA Surface Water Quality Trends -->
			<div class="project">

				<div class="project-image">
					<img src="/img/images/projects/nawqa_1.png" alt="NAWQA Surface Water Quality Trends" />
				</div>
				
				<div class="project-info">
					<h3>NAWQA Surface Water Quality Trends</h3>
					<p>
						This USGS Water-Quality Changes in the Nation’s Streams and Rivers mapper
						provides results from the largest-ever assessment of water-quality changes in the Nation's
						streams and rivers. More than 185 million water-quality records from over 600 Federal, State,
						Tribal, and local organizations were screened as part of this assessment.
					</p>
					<div class="flex gap">
						<!-- <a class="usa-button usa-button--base" href="https://www.usgs.gov/centers/nwhc/science/whispers" target="_blank">Project Page</a> -->
					</div>
				</div>

			</div>



		</div>

</div>