<!-- Leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js" crossorigin=""></script>

<!-- Javascript -->
<script type="module" src="/js/team.js"></script>


<!-- Team Map -->
<div
    id="teamMapWrapper">

    <!-- Map Element -->
    <div id="teamMap"></div>

    <div id="teamMapOverlay">
        <h1>We are geographers, cartographers, and scientists who are passionate about science communication.
        </h1>
    </div>

</div>

<div
    class="map-team-overlay"><!-- <b>Our Team</b> -->
</div>

<!-- Team page body -->
<!-- <section>
			<div id="Team_Page">
				<span class="header1">Modern web development delivering the best of the USGS to the public.</span>
			</div>
		</section> -->

<!-- Team member Grid - Current team -->
    <div id="teamGrid" class="padded"> <!-- Individual member display - looped with Javascript -->
        
    <!-- Hans Vraga -->
    <div class="member">
        <div class="member-anchor" id="hans"></div>
        <div class="member-info">
            <span class="name">Hans Vraga</span>
            <span class="title">WIM Program Coordinator</span>
            <div class="links">
                <a href="mailto:hvraga@usgs.gov">hvraga@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="hansWrapper">
            <img src="/img/images/team/Hans.jpg" alt="Hans Vraga"/>
            <p class="bio">
				Hans got his start as a CH-53 Super Stallion Helicopter Crew Chief from the USMC, callsign: 'Wedgie.' He turned ITIL disciple at the UW-Madison Division of Information Technology (DoIT) while earning a BS in Computer Engineering and Computer Science. After a 8 years at DoIT wearing Configuration, Incident, and Change Management hats, Hans moved to USGS-WIM to head up Project Management duties and earned a PMP certification. Hans currently spends most of his day coordinating a highly skilled and motivated team of developers, doing his best not to slow them down too much. Outside of work, Hans enjoys a good game of ultimate, hiking, camping and the occasional novel.
			</p>
        </button>
    </div>
    <!-- Nick Estes -->
    <div class="member">
        <div class="member-anchor" id="nick"></div>
        <div class="member-info">
            <span class="name">Nick Estes</span>
            <span class="title">Software Developer</span>
            <div class="links">
                <a href="mailto:njestes@usgs.gov">njestes@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="nickWrapper">
            <img src="/img/images/team/Nick.jpg" alt="Nick Estes"/>
            <p class="bio">
                Nick is a senior developer with WIM. He received his B.S. in mechanical engineering from Purdue University in 2001. His work with the USGS was initially focused on publishing, but has since developed an interest in and a knack for developing mapping applications and optimizing GIS services used by those applications. While most of his free time is spent with his family, he finds time here and there to write and record music.
            </p>
        </button>
    </div>
    <!-- Blake Draper -->
    <div class="member">
        <div class="member-anchor" id="blake"></div>
        <div class="member-info">
            <span class="name">Blake Draper</span>
            <span class="title">Software Developer</span>
            <div class="links">
                <a href="mailto:bdraper@usgs.gov">bdraper@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="blakeWrapper">
            <img src="/img/images/team/Blake.jpg" alt="Blake Draper"/>
            <p class="bio">
                Blake is a software developer for WIM. He has a B.A. and M.A. from Florida State University and a GIS/Cartography certificate from the University of Wisconsin-Madison. Blake works primarily client-side, developing web apps in JavaScript, but also enjoys working with Python whenever the need arises. He also spends a lot of time configuring server environments and preparing GIS data for use in web services. His main professional goal is to create useful, intuitive, geographically focused data products that advance USGS science. Outside of work, Blake enjoys cooking good food, woodworking, and spending time in the woods hiking and canoe camping.
            </p>
        </button>
    </div>
    <!-- Aaron Stephenson -->
    <div class="member">
        <div class="member-anchor" id="aaron"></div>
        <div class="member-info">
            <span class="name">Aaron Stephenson</span>
            <span class="title">Solutions Architect</span>
            <div class="links">
                <a href="mailto:astephenson@usgs.gov">astephenson@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="aaronWrapper">
            <img src="/img/images/team/Aaron.jpg" alt="Aaron Stephenson"/>
            <p class="bio">
				Aaron Stephenson is a full stack developer and solutions architect at WIM, but essentially he is their jack-of-all-trades. He has a decade of experience in system administration, database administration, information management, systems analysis, as well as back end and front end development, almost all of which have been in support of GIS data, services, and applications. Currently, most of his time is engaged in supporting WIM's migration to a service-oriented architecture and cloud computing. In his free time, Aaron loves reading, getting outdoors to hike and canoe, and attempting to become a decent cook.
			</p>
        </button>
    </div>
    <!-- Erik Myers -->
    <div class="member">
        <div class="member-anchor" id="erik"></div>
        <div class="member-info">
            <span class="name">Erik Myers</span>
            <span class="title">Software Developer</span>
            <div class="links">
                <a href="mailto:emyers@usgs.gov">emyers@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="erikWrapper">
            <img src="/img/images/team/Erik.jpg" alt="Erik Myers"/>
            <p class="bio">
				Erik is a software developer for WIM. He earned bachelor's degrees in geography and Asian studies from Augustana College in Illinois, and a master's degree in geography from Ohio University. He also holds a GIS Certificate from the University of Wisconsin-Madison. In addition to Erik's work developing web applications for WIM, his major areas of interest are cartographic and user experience design. Erik enjoys travel, photography, and outdoor sports. In his free time, he can usually be found rock climbing, skiing, cycling, canoeing, or kayak touring.
			</p>
        </button>
    </div>
    <!-- Lauren Privette -->
    <div class="member">
        <div class="member-anchor" id="lauren"></div>
        <div class="member-info">
            <span class="name">Lauren Privette</span>
            <span class="title">Software Developer</span>
            <div class="links">
                <a href="mailto:lprivette@usgs.gov">lprivette@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="laurenWrapper">
            <img src="/img/images/team/Lauren.jpg" alt="Lauren Privette"/>
            <p class="bio">
				Lauren is a software developer with WIM. She received her B.S in Geographic Science from James Madison University. While she enjoys work centered around GIS and cartography, her interests have expanded into the world of open source internet mapping. She currently resides in Northern Virginia and is working out of USGS HQ in Reston. Outside of work, Lauren enjoys snowboarding and ultimate frisbee.
			</p>
        </button>
    </div>
    <!-- Lorraine Metz -->
    <div class="member">
        <div class="member-anchor" id="lorraine"></div>
        <div class="member-info">
            <span class="name">Lorraine Metz</span>
            <span class="title">Developer & Operations Coordinator</span>
            <div class="links">
                <a href="mailto:lmetz@usgs.gov">lmetz@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="lorraineWrapper">
            <img src="/img/images/team/Lorraine.jpg" alt="Lorraine Metz"/>
            <p class="bio">
				Lorraine is a developer and operations coordinator with WIM. She earned bachelor's degrees in Geoscience and Water Science from Northland College, and a master’s degree in Geographic Information Science from Denver University. She joined the USGS in 2018 and then joined the WIM team in 2020. Outside of work, she enjoys spending time in the outdoors, reading, and hanging out with family and friends.
			</p>
        </button>
    </div>
    <!-- Kathy Dooley -->
    <div class="member">
        <div class="member-anchor" id="kathy"></div>
        <div class="member-info">
            <span class="name">Kathy Dooley</span>
            <span class="title">Software Developer</span>
            <div class="links">
                <a href="mailto:kdooley@usgs.gov">kdooley@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="kathyWrapper">
            <img src="/img/images/team/Kathy.jpg" alt="Kathy Dooley"/>
            <p class="bio">
				Kathy's interests in GIS and computer science led her to join WIM in 2019. She has a B.A. from Carleton College and a Master of GIS from the University of Minnesota. Outside of work, Kathy enjoys cooking, walking, canoeing, and solving puzzles.
			</p>
        </button>
    </div>
    <!-- Anders Hopkins -->
    <div class="member">
        <div class="member-anchor" id="anders"></div>
        <div class="member-info">
            <span class="name">Anders Hopkins</span>
            <span class="title">Software Developer</span>
            <div class="links">
                <a href="mailto:ahopkins@usgs.gov">ahopkins@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="andersWrapper">
            <img src="/img/images/team/Anders.jpg" alt="Anders Hopkins"/>
            <p class="bio">
				Anders is a developer for WIM. He has a BA from Luther College and a Masters of GIS from the University of Minnesota. Anders' interests include designing maps, drawing conclusions from raw datasets and solving spatial problems. When not working, he can be found riding one of his many bikes, rock climbing or reading.
			</p>
        </button>
    </div>
    <!-- Julia Prokopec -->
    <div class="member">
        <div class="member-anchor" id="julia"></div>
        <div class="member-info">
            <span class="name">Julia Prokopec</span>
            <span class="title">Hydrologist & Project Manager</span>
            <div class="links">
                <a href="mailto:jprokopec@usgs.gov">jprokopec@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="juliaWrapper">
            <img src="/img/images/team/Julia.jpg" alt="Julia Prokopec"/>
            <p class="bio">Julia Prokopec is a hydrologist, project manager, and USGS Water Mission Area liaison
                                                                						for WIM. She received her B.S. in Environmental Studies with an emphasis in Geohydrology from
                                                                						Bemidji State. Julia has worked on projects studying groundwater and surface water interaction,
                                                                						persistence of pesticides in groundwater and surface water, and water quality monitoring. Her
                                                                						focus is hydraulic modeling and flood-inundation mapping where she has led studies to be used by
                                                                						communities for hazard mitigation. Outside of work, Julia enjoys being outdoors, canning and
                                                                						spending time with family.</p>
        </button>
    </div>
    <!-- Andrea Medenblik -->
    <div class="member">
        <div class="member-anchor" id="andrea"></div>
        <div class="member-info">
            <span class="name">Andrea Medenblik</span>
            <span class="title">Software Developer</span>
            <div class="links">
                <a href="mailto:amedenblik@usgs.gov">amedenblik@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="andreaWrapper">
            <img src="/img/images/team/Andrea.jpg" alt="Andrea Medenblik"/>
            <p class="bio">Andrea is a software developer for WIM. She received a B.S. in Environmental Science
                                                                						from the University of North Carolina and an M.S. in Natural Resources from North Carolina State
                                                                						University, gaining GIS and programming skills along the way. Since joining WIM in 2021, she has
                                                                						developed web mapping applications to increase accessibility to USGS science. Outside of work,
                                                                						Andrea enjoys geocaching, gardening, and volunteering for conservation efforts.</p>
        </button>
    </div>
    <!-- Harper Wavra -->
    <div class="member">
        <div class="member-anchor" id="harper"></div>
        <div class="member-info">
            <span class="name">Harper Wavra</span>
            <span class="title">Software Developer</span>
            <div class="links">
                <a href="mailto:hwavra@usgs.gov">hwavra@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="harperWrapper">
            <img src="/img/images/team/Harper.jpg" alt="Harper Wavra"/>
            <p class="bio">Harper is a software developer for WIM. She received a B.S. in Computer Science from
                                                                						the University of North Dakota. She joined the USGS in 2015 and then joined the WIM team in
                                                                						2021. Outside of work, Harper enjoys playing board games, sewing crafts, and hanging with her
                                                                						pets.</p>
        </button>
    </div>
    <!-- Chad Fanguy -->
    <div class="member">
        <div class="member-anchor" id="chad"></div>
        <div class="member-info">
            <span class="name">Chad Fanguy</span>
            <span class="title">Sysops Specialist</span>
            <div class="links">
                <a href="mailto:cfanguy@usgs.gov">cfanguy@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="chadWrapper">
            <img src="/img/images/team/Chad.jpg" alt="Chad Fanguy"/>
            <p class="bio">Chad has a B.S. in Computer Science from Nicholls State University. He has been with
                                                                						USGS since 2011 and with WIM since 2021. Outside of work, his interests include video games,
                                                                						drawing, writing, and anime.</p>
        </button>
    </div>
    <!-- Milan Liu -->
    <div class="member">
        <div class="member-anchor" id="milan"></div>
        <div class="member-info">
            <span class="name">Milan Liu</span>
            <span class="title">Cartographer & Enterprise Tools Specialist</span>
            <div class="links">
                <a href="mailto:msliu@usgs.gov">msliu@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="milanWrapper">
            <img src="/img/images/team/Milan.jpg" alt="Milan Liu"/>
            <p class="bio">Milan has degrees in International Politics and Geography from Penn State University.
                                                                						Her interest in GIS and cartography brought her to WIM, where she works on projects involving
                                                                						data visualization and geonarrative design. Outside of work, Milan enjoys traveling and spending
                                                                						time outside. In her free time, you can usually find her on a run, reading a novel, or cooking a
                                                                						new recipe.</p>
        </button>
    </div>
    <!-- Joe Federer -->
    <div class="member">
        <div class="member-anchor" id="joe"></div>
        <div class="member-info">
            <span class="name">Joe Federer</span>
            <span class="title">Developer & Solutions Architect</span>
            <div class="links">
                <a href="mailto:jfederer@usgs.gov">jfederer@usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="joeWrapper">
            <img src="/img/images/team/Joe.jpg" alt="Joe Federer"/>
            <p class="bio">Joe Federer is a full stack senior research developer and solutions architect at WIM. He graduated Summa Cum Laude from the Honors program at St. John’s University with Departmental Distinction in Computer Science and a thesis focused on Genetic Programming AI/ML techniques and High-Throughput Distributed Computing Systems, and has multiple decades of experience leading an IT team at the USGS. Joe founded and leads the Advanced Technology Group portfolio of projects, and currently most of his time is engaged in AWS-based microservice serverless solutions, researching AI/ML within imagery-as-data solutions, workflow automation, and pioneering approaches for innovative web applications. Joe loves spending time with his family, playing hockey, and coaching/leading a wide array of activities within the community including soccer, hockey, Lego league, scouts, lacrosse, and other volunteering activities.</p>
        </button>
    </div>
    <!-- Danny Rubin -->
    <div class="member">
        <div class="member-anchor" id="danny"></div>
        <div class="member-info">
            <span class="name">Danny Rubin</span>
            <span class="title">Student Project Manager</span>
            <div class="links">
                <a href="mailto:drubin@contractor.usgs.gov">drubin@contractor.usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="dannyWrapper">
            <img src="/img/images/team/Daniel.jpg" alt="Danny Rubin"/>
            <p class="bio">Daniel has a B.S. in Public Affairs from Indiana University and is currently pursuing
                                                                						a Masters in Public Affairs from Indiana University. Prior to joining USGS Danny worked as a
                                                                						software designer and business analyst helping state and federal agencies solve challenges
                                                                						involving training, compliance, personnel management, organizational management, and more. Danny
                                                                						loves the outdoors and has a lifelong goal of visiting all the national parks.</p>
        </button>
    </div>
    <!-- Andrew Laws -->
    <div class="member">
        <div class="member-anchor" id="andrew"></div>
        <div class="member-info">
            <span class="name">Andrew Laws</span>
            <span class="title">Junior Software Developer</span>
            <div class="links">
                <a href="mailto:alaws@contractor.usgs.gov">alaws@contractor.usgs.gov</a>
            </div>
        </div>
        <button class="photo-bio" id="andrewWrapper">
            <img src="/img/images/team/Andrew.jpg" alt="Andrew Laws"/>
            <p class="bio">
                Andrew received his M.S. from the University of Nebraska - Lincoln. As a self-described geospatial geek, Andrew is interested in learning everything geospatial and programming. 
                                                                						The opportunity to learn more about software development, in particular front-end and development pipelines, brought him to WIM. 
                                                                						Andrew is an avid home chef, baker, and burgeoning cheesemaker when he is not in the woods hiking, on the bike trail, or drinking coffee while reading a good book.
            </p>
        </button>
    </div>
    <!-- Maggie -->
    <div class="member">
        <div class="member-anchor" id="maggie"></div>
        <div class="member-info">
            <span class="name">Maggie Jaenicke</span>
            <span class="title">Junior Software Developer</span>
            <div class="links"></div>
        </div>
        <button class="photo-bio" id="maggieWrapper">
            <img src="/img/images/team/Maggie.jpg" alt="Maggie Jaenicke"/>
            <p class="bio">
				Maggie earned her bachelor's degrees in geography and environmental studies from Macalester College in Saint Paul, Minnesota, where she gained skills in GIS and remote sensing. Before coming to WIM, Maggie completed two remote sensing research projects with NASA DEVELOP, one that focused on modeling suitable habitat for invasive grasses and one that focused on drought-related tree die-off events. Outside of work, she enjoys painting, biking, and learning about plants.
            </p>
        </button>
    </div>


</div>


<!-- Alumni -->
<!-- Alumni -->
<!-- Alumni -->
<!-- Alumni -->
<!-- Alumni -->
    <h1 class="center mtop-lg margin-auto"> Alumni</h1>

<!-- Team member alumni loop - alumni -->
<div id="teamGrid" class="padded alumni">

    <!-- Individual alumni display - looped with Javascript -->
    <!-- Gary Latzke -->
        <div class="member"> <div class="member-info">
            <span class="name">Gary Latzke</span>
            <span class="title">Program Coordinator</span>
            <span class="text-body block">2009-2023</span>
        </div>
        <button class="photo-bio" id="garyWrapper">
            <img src="/img/images/team/Gary.jpg" alt="Gary Latzke"/>
            <p class="bio">
				Along with Nick Estes and Jon Baier, Gary founded WIM and served as its first supervisor and program coordinator. Gary guided and grew this team for over a decade; before departing to become the Chief of Staff for USGS Natural Hazards. Outside of work Gary enjoys golfing, writing music and making unique cocktails with his wife in their home lounge.
			</p>
        </button>
    </div>


    <!-- Katrin Jacobsen -->
        <div class="member"> <div class="member-info">
            <span class="name">Katrin Jacobsen</span>
            <span class="title">Software Developer</span>
            <span class="text-body block">2018-2021</span>
        </div>
        <button class="photo-bio">
            <img src="/img/images/team/Katrin.jpg" alt="Katrin Jacobsen"/>
            <p class="bio">
				
			</p>
        </button>
    </div>
    <!-- Jamie Velkoverh -->
    <div class="member">
        <div class="member-info">
            <span class="name">Jamie Velkoverh</span>
            <span class="title">GIS Specialist</span>
            <span class="text-body block">2015-2020</span>
        </div>
        <button class="photo-bio">
            <img src="/img/images/team/Jamie.jpg" alt="Jamie Velkoverh"/>
            <p class="bio">
				Jamie started with WIM in the fall of 2015 as a GIS Specialist. She was instrumental in developing and documenting the use of interactive spatial and story-telling web applications, “geonarratives”, as a new and innovative science communication tool to be utilized by the USGS. In the spring of 2016, she was a co-presenter at the plenary session of the ESRI Federal GIS conference, demonstrating the successful use of geonarratives within the USGS.
				Jamie worked for WIM on various GIS projects through 2020. She is now an Information Specialist for the USGS Upper Midwest Water Science Center (UMid), managing the social media and web presence of UMid, conducting outreach efforts and continuing to work on GIS projects
			</p>
        </button>
    </div>
    <!-- Martyn Smith -->
    <div class="member">
        <div class="member-info">
            <span class="name">Martyn Smith</span>
            <span class="title">Software Developer</span>
            <span class="text-body block">2013-2020</span>
        </div>
        <button class="photo-bio">
            <img src="/img/images/team/Martyn.jpg" alt="Martyn Smith"/>
            <p class="bio">
			</p>
        </button>
    </div>
    <!-- Bruce Droster -->
    <div class="member">
        <div class="member-info">
            <span class="name">Bruce Droster</span>
            <span class="title">Operations Coordinator</span>
            <span class="text-body block">2009-2020</span>
        </div>
        <button class="photo-bio">
            <img src="/img/images/team/Bruce.jpg" alt="Bruce Droster"/>
            <p class="bio">
				A foundational member of WIM, Bruce Droster coordinated operations from inception through 2020 before retiring from Federal Service. His reliability, no-nonsense approach, and experience operating in the Federal sector helped WIM set itself apart from other groups. Bruce enjoys many outside activities including being a volunteer firefighter, volunteer ski patroller, SCUBA diver, wilderness camper, cyclist, hot tubbing, and others; there is no concern that Bruce will lack for things to do during his retirement.
			</p>
        </button>
    </div>
    <!-- Daniel Beckman -->
    <div class="member">
        <div class="member-info">
            <span class="name">Daniel Beckman</span>
            <span class="title">Software Developer</span>
            <span class="text-body block">2018-2020</span>
        </div>
        <button class="photo-bio">
            <img src="/img/images/team/Daniel-Alumi.jpg" alt="Daniel Beckman"/>
            <p class="bio"></p>
        </button>
    </div>
    <!-- Jeremy Newson -->
    <div class="member">
        <div class="member-info">
            <span class="name">Jeremy Newson</span>
            <span class="title">Software Developer</span>
            <span class="text-body block">2010-2019</span>
        </div>
        <button class="photo-bio">
            <img src="/img/images/team/Jeremy.jpg" alt="Jeremy Newson"/>
            <p class="bio">
				Jeremy was an integral part of WIM for 9 years, making his way here by way of the Kentucky Water Science Center, where he worked as a Hydrologist. As a member of the team, Jeremy served as a full stack developer, spurring growth in WIM’s capabilities by creating and implementing new technologies and architectures, while also pushing for adaptation of best practices in every facet of our work. Jeremy’s witty sense of humor and positive attitude made him a wonderful mentor for new and experienced developers.
			</p>
        </button>
    </div>
    <!-- Veni Kunche -->
    <div class="member">
        <div class="member-info">
            <span class="name">Veni Kunche</span>
            <span class="title">Software Developer</span>
            <span class="text-body block">2014-2019</span>
        </div>
        <button class="photo-bio">
            <img src="/img/images/team/Veni.jpg" alt="Veni Kunche"/>
            <p class="bio">
				Veni filled the role of Senior Developer during her tenure on the team. Her ability to take on (often the most) complex problems the team faced at any given time made her an inspiration to others on the team and our cooperators. Perhaps even more impactful was how she was able to use her knowledge, experiences, and intuition to help us build a healthy and fun team environment, you can see her influence on many of the work conventions WIM follows. Veni is the founder at DiversifyTech.co. Where she connects underrepresented folks in tech to opportunities. Shes also won many awards in the DC area, including Trending 40 - The New Power Women of DC Tech.
			</p>
        </button>
    </div>
    <!-- Tonia Roddick -->
    <div class="member">
        <div class="member-info">
            <span class="name">Tonia Roddick</span>
            <span class="title">Software Developer</span>
            <span class="text-body block">2012-2018</span>
        </div>
        <button class="photo-bio">
            <img src="/img/images/team/Tonia.jpg" alt="Tonia Roddick"/>
            <p class="bio">
				Tonia was a senior software developer with WIM for 6 years. She was a full-stack developer leading some of the teams largest and most ambitious projects; and her infectious no-nonsense attitude and adventurous spirit, was a benefit to everyone’s productivity. Tonia filled the role of developer during her tenure with WIM. Tonia has gone on to have a very successful career in the private sector.
			</p>
        </button>
    </div>
    <!-- Marie Peppler -->
    <div class="member">
        <div class="member-info">
            <span class="name">Marie Peppler</span>
            <span class="title">Software Developer</span>
            <span class="text-body block">2009-2014</span>
        </div>
        <button class="photo-bio">
            <img src="/img/images/team/Marie.jpg" alt="Marie Peppler"/>
            <p class="bio">
				Marie was with WIM for 4 years doing Project Coordinator and Program Development. With her tireless work-ethic and skills in customer relations and problem solving, combined with an understanding of the technical skills of the WIM team, she lead projects that built several applications critical to the USGS, our cooperators and the general public. The connections Marie has established between WIM and many of our key cooperators continues to this day and have led to many interesting and exciting collaborations for the team. Marie is now the Hazards Coordinator for the USGS.
			</p>
        </button>
    </div>
    <!-- Jonathan Baierler -->
    <div class="member">
        <div class="member-info">
            <span class="name">Jonathan Baier</span>
            <span class="title">Software Developer</span>
            <span class="text-body block">2009-2014</span>
        </div>
        <button class="photo-bio">
            <img src="/img/images/team/Jonathan.jpg" alt="Jonathan Baier"/>
            <p class="bio">
				Jon was one of three co-founders of WIM, where he was a Senior Technology Leader and Systems Architect, setting the technical direction for WIM. He has shown remarkable foresight building technologies and architectures that remain the gold standard for WIM web development. Jon filled the roles of Cloud Solution Architect and GIS Platform Technical Director during his tenure with WIM. Jon has published three books, produced webinars and articles on the subject of containerization. He has gone on to have a very successful career in the private sector delivering emerging technology strategies to companies and partners.
			</p>
        </button>
    </div>

</main>
