<!DOCTYPE html>
<html lang="en">
<head>

	@@include('../i/includes/header.html', {
		"page_title": "Geonarratives: Web Informatics & Mapping",
		"meta_desc": "WIM is comprised of developers, geographers, cartographers, and scientists who are passionate about science communication. Our small team works closely with cooperators to build products that manage, analyze, and visualize scientific information in intuitive and user-friendly ways.",
		"theme_color": "#030508",
		"share_title": "Geonarratives: Web Informatics & Mapping",
		"share_desc": "WIM is comprised of developers, geographers, cartographers, and scientists who are passionate about science communication. Our small team works closely with cooperators to build products that manage, analyze, and visualize scientific information in intuitive and user-friendly ways.",
		"share_url": "https://wim.usgs.gov/geonarratives/",
		"fb_image": "https://wim.usgs.gov/src/images/branding/meta/Facebook.png",
		"tw_image": "https://wim.usgs.gov/src/images/branding/meta/Twitter.png"
	})

	<!-- Manifest -->
	<link rel="manifest" href="../manifest.json">

	<!-- Vue required only on team and project pages -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router"></script>

</head>
<body>

	<!-- 
		***IMPORTANT***
		DEPLOYMENT:
		This page is developed and auto-deployed at /geo
		It needs to be manually uploaded to /geonarrative/ in S3
	 -->


		<!-- 
		USGS Header, USA Banner, and Nav
		-->
		@@include('../i/includes/usa-banner.html')
		@@include('../i/includes/nav.html')
		


		<!-- 
			__   __ _   _   ___      (_) ___ 
			\ \ / /| | | | / _ \     | |/ __|
			\ V / | |_| ||  __/ _   | |\__ \
			\_/   \__,_| \___|(_) _/ ||___/
								|__/      
			Vue tags are wrapped with ${ TAG } instead of double brackets
		-->

		<div class="standard-width xs-p-15 sm-p-20 md-p-30 lg-p-50 projects-background">
		
			<h2>Geonarratives</h2>
			<div class="text-body xs-pt-15 lg-pt-25 home-paragraph">
				Geonarratives are web applications that combine interactive web maps with narrative text, images, and multimedia content.  WIM utilizes ESRI’s <a href="http://storymaps.arcgis.com/" target="_blank">story maps</a> templates, which are useful in disseminating science and data in an effective, user-friendly format to educate, engage and connect with other scientists, cooperators, and the public.
				Create your own USGS, National Park Service, or GeoPlatform VisID compliant Geonarratives using WIM's <a href="https://wim.usgs.gov/geonarrative/generator" title="Geonarrative Generator" target="_blank">Geonarrative Generator</a>. WIM can also assist with hosting - reach out to the contacts below for more information.
			</div>


			<!-- Featured Geonarratives -->
			<h2 class="xs-pt-50 lg-pt-75 xs-pb-25 lg-pb-40 home-featured-header">Featured Geonarratives</h2>
	
			<div class="home-featured">
				<a class="project xs-mt-15 lg-mt-30" href="https://wim.usgs.gov/geonarrative/express/">
					<div class="thumb" style="background-image: url('https://prd-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/content_list_thumbnail/public/thumbnails/image/storymap-home-image.jpg');">Expanding Pacific Exploration & Research</div>
					<small>Less than 20% of the world's oceans have been explored. A global initiative seeks to change that, by pledging to complete detailed mapping of 10% of the seafloor by the year 2030.</small>
				</a>
				<a class="project xs-mt-15 lg-mt-30" href="https://wim.usgs.gov/geonarrative/uscoastalwetlandsynthesis/">
					<div class="thumb" style="background-image: url('https://prd-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/content_list_thumbnail/public/thumbnails/image/coastalwetlands-NY-JamaicaBay_abt-9-2018-USGS__1541268021051.jpg');">National UVVR Map</div>
					<small>This map shows the unvegetated and vegetated area of coastal wetlands and adjacent land (inland and shorelines) for the Conterminous United States computed from 2014-2018.</small>
				</a>
				<a class="project xs-mt-15 lg-mt-30" href="https://wim.usgs.gov/geonarrative/ecologicaldrought/">
					<div class="thumb" style="background-image: url('https://prd-wret.s3.us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/content_list_thumbnail/public/thumbnails/image/DeadTrees_Drought_Pu%27u_Wa%27awa%27a_StateForestReserve_ElliottParsons.png');">Ecological Drought Across the Country</div>
					<small>Learn about how the Climate Adaptation Science Centers have been exploring the topic of ecological drought across the country.</small>
				</a>
			</div>

			<!-- 
				All Geonarratives
				VUE JS Component
			-->
			<h2 class="xs-pt-50 lg-pt-75">Browse Geonarratives</h2>
		
			<div class="standard-width" id="geonarrativeList">


				<div class="project-search xs-mt-10 lg-mt-15">
					<input type="text" v-model="projectSearch" aria-label="Search Geeonarratives" id="projectSearch" placeholder="Type to start searching..."/>
				</div>

				<div class="projects-compact xs-mt-10 lg-mt-20 show-all" v-if="geoList.length">

					<!-- All Projects Loop -->
					<div class="project-item xs-mb-20 lg-mb-25" v-for="geo in filteredList.slice().reverse()">
						<div class="heading">${ geo.name }</div>
						<div class="caption">${ geo.description }</div>
						<div class="tags" v-if="geo.tag">
							<span class="tag"  v-on:click="projectSearch = geo.tag">${ geo.tag }</span>
						</div>
						<div class="project-links">
							<a v-bind:href="'https://wim.usgs.gov/geonarrative/'+geo.url" target="_blank" class="github-link">
								<i class="far fa-external-link"></i>
								<span>Open</span>
							</a>
						</div>
					</div>

					<!-- No Projects -->
					<div class="no-projects" v-if="!filteredList.length">
						<i class="far fa-empty-set"></i>
						<div class="xs-mt-15">No Results</div>
					</div>

				</div>
			</div>


			<h2 class="xs-pt-75 lg-pt-100">Want to know more about Geonarratives?</h2>
			<div class="text-body xs-pt-15 lg-pt-25 home-paragraph">
				If you think you have a project that could benefit from a geonarrative, please don't hesitate to contact us with any questions or inquiries.
			</div>
			<div class="wim-contact xs-pt-20 lg-pt-30 xs-f-start f-wrap">
				<div class="wim-contact-person xs-pr-25 xs-pb-25 md-pr-40 lg-pr-50">
					<h3>Milan Liu</h3>
					<h4>GIS Specialist</h4>
					<a class="text-body" href="mailto:msliu@contractor.usgs.gov" target="_blank">msliu@contractor.usgs.gov</a>
				</div>
				<div class="wim-contact-person xs-pr-25 xs-pb-25 md-pr-40 lg-pr-50">
					<h3>Jamie Velkoverh</h3>
					<h4>GIS Specialist</h4>
					<a class="text-body" href="mailto:jvelkoverh@usgs.gov" target="_blank">jvelkoverh@usgs.gov</a>
				</div>
				
			</div>

		</div>
		
		<!-- 
		Footer
		-->
		@@include('../i/includes/footer.html')

		


	<!-- Team JS Controller -->
	<script src="../src/js/geo.js"></script>
	<script>
	</script>

</body>
</html>
