<!DOCTYPE html>
<html>
<head>
    {% set page_title = "Team: Web Informatics & Mapping" %}
    {% set meta_desc = "WIM is comprised of developers, geographers, cartographers, and scientists who are passionate about science communication. Our small team works closely with cooperators to build products that manage, analyze, and visualize scientific information in intuitive and user-friendly ways." %}
    {% set theme_color = "#030508" %}
    {% set share_title = "Our Team: Web Informatics & Mapping" %}
    {% set share_desc = "WIM is comprised of developers, geographers, cartographers, and scientists who are passionate about science communication. Our small team works closely with cooperators to build products that manage, analyze, and visualize scientific information in intuitive and user-friendly ways." %}
    {% set share_url = "https://wim.usgs.gov/i/team" %}
    {% set fb_img = "https://wim.usgs.gov/src/images/branding/meta/Facebook.png" %}
    {% set tw_img = "https://wim.usgs.gov/src/images/branding/meta/Twitter.png" %}


    {% include "../includes/header.html" %}

</head>
<body>

    <!-- 
    USGS Header, USA Banner, and Nav
    -->
    {% include "../includes/usa-banner.html" %}
    {% include "../includes/nav.html" %}
    
    <!-- Main Content -->
    <div class="standard-width xs-p-15 sm-p-20 md-p-30 lg-p-50">
    
        <h1>Meet the Team</h1>
        <div class="text-body xs-pt-15 lg-pt-25">
            WIM is comprised of geographers, cartographers, and scientists who are passionate about science communication. Our small team works closely with cooperators to build products that manage, analyze, and visualize scientific information in intuitive and user-friendly ways.
        </div>

        <div class="team-display xs-f-start xs-f-wrap xs-pt-25 lg-pt-40">
            <!-- Gary Latzke -->
            <div class="member" id="gary">
                <img src="/src/images/team/gary.png" class="member-image-element" alt="Gary Latzke's Photo" title="Gary Latzke"/>
                <div class="member-meta">
                    <b class="text-sm">Gary Latzke</b>
                    <span class="caption">Program Coordinator</span>
                </div>
            </div>
            <div class="member-about" id="garyBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Gary Latzke</h3>
                    <h4>Program Coordinator</h4>
                    <div class="text-body">(608)821-3805</div>
                    <a href="mailto:gdlatzke@usgs.gov" class="xs-mb-10 text-body">gdlatzke@usgs.gov</a>
                    <p>
                        Gary has his degree in Cartography from Northern Illinois University and 27 years of cartographic experience
                        in the USGS. His specialties include cartographic design and communication, digital application design, and
                        implementation of cloud infrastructures for geospatial applications. In addition WIM, Gary serves on the
                        staff of the Information and Technology Management Director for the Department of the Interior, leading and
                        assisting in special projects for the Department. Outside of work Gary enjoys golfing, writing music and
                        making unique cocktails with his wife in their home lounge.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Bruce Droster -->
            <div class="member" id="bruce">
                <img src="/src/images/team/bruce.png" class="member-image-element" alt="Bruce Droster's Photo" title="Bruce Droster" />
                <div class="member-meta">
                    <b class="text-sm">Bruce Droster</b>
                    <span class="caption">Operations Coordinator</span>
                </div>
            </div>
            <div class="member-about" id="bruceBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Bruce Droster</h3>
                    <h4>Operations Coordinator</h4>
                    <div class="text-body">(703)648-5760</div>
                    <a href="mailto:bdroster@usgs.gov" class="xs-mb-10 text-body">bdroster@usgs.gov</a>
                    <p>
                        Bruce began as a traditional cartographer working on the USGS Ground Water Atlas of the United States. He considers
                        himself fortunate that he was able to experience both the traditional methods of map making (scribing and darkrooms) and
                        modern GIS and digital mapping. He is currently the administrative and operations coordinator for WiM. Bruce enjoys many
                        outside activities including being a volunteer firefighter, volunteer ski patroller, SCUBA diver, wilderness camper,
                        cyclist, and many other outdoor activities.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Hans Vraga -->
            <div class="member" id="hans">
                <img src="/src/images/team/hans.png" class="member-image-element" alt="Hans Vraga's Photo" title="Hans Vraga" />
                <div class="member-meta">
                    <b class="text-sm">Hans Vraga</b>
                    <span class="caption">Project Manager</span>
                </div>
            </div>
            <div class="member-about" id="hansBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Hans Vraga</h3>
                    <h4>Project Manager</h4>
                    <div class="text-body">(608)821-3907</div>
                    <a href="mailto:hvraga@usgs.gov" class="xs-mb-10 text-body">hvraga@usgs.gov</a>
                    <p>
                        Hans got his start as a fearless Super Stallion Helicopter Crew Chief from the USMC '772 Hustlers, callsign: "Wedgie."
                        He turned ITIL disciple at the UW-Madison Division of Information Technology by way of a student position held while
                        earning a BS in Computer Engineering and Computer Science at the university. After a few years full time working with
                        the System's Engineering and Operations group at DoIT wearing Configuration, Incident, and Change Management hats, Hans
                        moved to WiM to head up Project Management duties. Hans is currently living near our Nation's Capital, representing WiM
                        at USGS HQ as well as attempting to keep up with Marie's enthusiasm. Outside of work, Hans enjoys a good game of
                        ultimate, hiking, camping and the occasional novel.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Blake Draper -->
            <div class="member" id="blake">
                <img src="/src/images/team/blake.png" class="member-image-element" alt="Blake Draper's Photo" title="Blake Draper" />
                <div class="member-meta">
                    <b class="text-sm">Blake Draper</b>
                    <span class="caption">Software Developer</span>
                </div>
            </div>
            <div class="member-about" id="blakeBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Blake Draper</h3>
                    <h4>Software Developer</h4>
                    <a href="mailto:bdraper@usgs.gov" class="xs-mb-10 text-body">bdraper@usgs.gov</a>
                    <p>
                        Blake is a software developer for WiM. He has a B.A. and M.A. from Florida State University and a GIS/Cartography
                        certificate from the University of Wisconsin-Madison. Blake works primarily client-side, developing web apps in
                        JavaScript, but also enjoys working with Python whenever the need arises. He also spends a lot of time configuring
                        server environments and preparing GIS data for use in web services. His main professional goal is to create useful,
                        intuitive, geographically focused data products that advance USGS science. Outside of work, Blake enjoys cooking good
                        food, woodworking, and spending time in the woods hiking and canoe camping.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Nick Estes -->
            <div class="member" id="nick">
                <img src="/src/images/team/nick.png" class="member-image-element" alt="Nick Estes' Photo" title="Nick Estes" />
                <div class="member-meta">
                    <b class="text-sm">Nick Estes</b>
                    <span class="caption">Software Developer</span>
                </div>
            </div>
            <div class="member-about" id="nickBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Nick Estes</h3>
                    <h4>Software Developer</h4>
                    <a href="mailto:njestes@usgs.gov" class="xs-mb-10 text-body">njestes@usgs.gov</a>
                    <p>
                        Nick is a senior developer with WiM. He received his B.S. in mechanical engineering from Purdue University in 2001. His
                        work with the USGS was initially focused on publishing, but has since developed an interest in and a knack for
                        developing mapping applications and optimizing GIS services used by those applications. While most of his free time is
                        spent with his family, he finds time here and there to write and record music.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Katrin Jacobsen -->
            <div class="member" id="katrin">
                <img src="/src/images/team/katrin.png" class="member-image-element" alt="Katrin Jacobsen's Photo" title="Katrin Jacobsen" />
                <div class="member-meta">
                    <b class="text-sm">Katrin Jacobsen</b>
                    <span class="caption">Software Developer</span>
                </div>
            </div>
            <div class="member-about" id="katrinBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Katrin Jacobsen</h3>
                    <h4>Software Developer</h4>
                    <a href="mailto:kjacobsen@contractor.usgs.gov" class="xs-mb-10 text-body">kjacobsen@contractor.usgs.gov</a>
                    <p>
                        Katrin has a BA in Anthropology from the University of Minnesota - Twin Cities. While going to school there, she began
                        an internship with the USGS in Mounds View, MN performing GIS and database work, which eventually led her to WIM. She's
                        always had a passion for maps - they're all over her home. Outside of work, she enjoys volunteering, playing with her
                        puppy, reading, and hosting small get-togethers at her home.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Dan Beckman -->
            <div class="member" id="dan">
                <img src="/src/images/team/dan.png" class="member-image-element" alt="Dan Beckman's Photo" title="Dan Beckman" />
                <div class="member-meta">
                    <b class="text-sm">Daniel Beckman</b>
                    <span class="caption">Software Developer</span>
                </div>
            </div>
            <div class="member-about" id="danBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Daniel Beckman</h3>
                    <h4>Software Developer</h4>
                    <a href="mailto:dbeckman@usgs.gov" class="xs-mb-10 text-body">dbeckman@usgs.gov</a>
                    <p>
                        Daniel Beckman is a career intern at the USGS. He holds a bachelors degree from the University of Colorado in Ecology
                        and Evolutionary Biology and minors in Chemistry and Computer Science. He currently attends Graduate school at the
                        University of Colorado School of Engineering and Applied Science where he studies Machine Learning and Artificial
                        Intelligence. Daniel is a combat Veteran and former paratrooper with Special Forces. He has worked in data for almost
                        two decades in a variety of fields including, counterintelligence, research & development, forensic chemistry, and
                        genomics. Daniel joined the USGS in 2017 and WIM in 2018. Currently, he works in cloud integration. He and his wife
                        Sarah live in Colorado with their two dogs and cat. They enjoy climbing, hiking 14ers, craft IPAs, snowshoeing, cross
                        country skiing, and paddle boarding.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Veni Kunche -->
            <div class="member" id="veni">
                <img src="/src/images/team/veni.png" class="member-image-element" alt="Veni Kunche's Photo" title="Veni Kunche" />
                <div class="member-meta">
                    <b class="text-sm">Veni Kunche</b>
                    <span class="caption">Software Developer</span>
                </div>
            </div>
            <div class="member-about" id="veniBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Veni Kunche</h3>
                    <h4>Software Developer</h4>
                    <a href="mailto:kkunche@contractor.usgs.gov" class="xs-mb-10 text-body">kkunche@contractor.usgs.gov</a>
                    <p>
                        Veni Kunche is a senior software developer residing in Northern Virginia. She has over 10 years of experience in
                        software and web development, and has worked in several industries such as financial, governmental, and bio-medical. She
                        loves to travel with friends and explore new cuisines.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Erik Myers -->
            <div class="member" id="erik">
                <img src="/src/images/team/erik.png" class="member-image-element" alt="Erik Myers' Photo" title="Erik Myers" />
                <div class="member-meta">
                    <b class="text-sm">Erik Myers</b>
                    <span class="caption">Software Developer</span>
                </div>
            </div>
            <div class="member-about" id="erikBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Erik Myers</h3>
                    <h4>Software Developer</h4>
                    <a href="mailto:emyers@usgs.gov" class="xs-mb-10 text-body">emyers@usgs.gov</a>
                    <p>
                        Erik is a software developer for WiM. He earned bachelor's degrees in geography and Asian studies from Augustana College
                        in Illinois, and a master's degree in geography from Ohio University. He also holds a GIS Certificate from the
                        University of Wisconsin-Madison. In addition to Erik's work developing web applications for WiM, his major areas of
                        interest are cartographic and user experience design. Erik enjoys travel, photography, and outdoor sports. In his free
                        time, he can usually be found rock climbing, skiing, cycling, canoeing, or kayak touring.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Jeremy Newson -->
            <div class="member" id="jeremy">
                <img src="/src/images/team/jeremy.png" class="member-image-element" alt="Jeremy Newson's Photo" title="Jeremy Newson" />
                <div class="member-meta">
                    <b class="text-sm">Jeremy Newson</b>
                    <span class="caption">Software Developer</span>
                </div>
            </div>
            <div class="member-about" id="jeremyBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Jeremy Newson</h3>
                    <h4>Software Developer</h4>
                    <a href="mailto:jknewson@usgs.gov" class="xs-mb-10 text-body">jknewson@usgs.gov</a>
                    <p>
                        Jeremy Newson has been working as a hydrologic engineer for the United States Geological Survey for the past 8 years. He
                        is currently a lead developer for WiM, developing hydrologic mapping applications. His programming skills include
                        Javascript, HTML5, Typescript, C#, VB.net, Python, Action script, Flash/Flex and Fortran. He earned his master's degree
                        in biological and agricultural engineering, emphasizing in sediment fluxes in fluvial systems, and a bachelor's degree
                        in biological systems engineering from the University of Idaho. When he is not staring aimlessly at his computer
                        monitors, he enjoys spending time with his family, fly-fishing, and camping.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Lauren Privette -->
            <div class="member" id="lauren">
                <img src="/src/images/team/lauren.png" class="member-image-element" alt="Lauren Privette's Photo" title="Lauren Privette" />
                <div class="member-meta">
                    <b class="text-sm">Lauren Privette</b>
                    <span class="caption">Software Developer</span>
                </div>
            </div>
            <div class="member-about" id="laurenBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Lauren Privette</h3>
                    <h4>Software Developer</h4>
                    <a href="mailto:lprivette@contractor.usgs.gov" class="xs-mb-10 text-body">lprivette@contractor.usgs.gov</a>
                    <p>
                        Lauren is a software developer with WiM. She received her B.S in Geographic Science from James Madison University. While
                        she enjoys work centered around GIS and cartography, her interests have expanded into the world of open source internet
                        mapping. She currently resides in Northern Virginia and is working out of USGS HQ in Reston. Outside of work, Lauren
                        enjoys snowboarding and ultimate frisbee.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Mitch Samuels -->
            <div class="member" id="mitch">
                <img src="/src/images/team/mitch.png" class="member-image-element" alt="Mitch Samuels' Photo" title="Mitch Samuels" />
                <div class="member-meta">
                    <b class="text-sm">Mitch Samuels</b>
                    <span class="caption">Frontend Developer</span>
                </div>
            </div>
            <div class="member-about" id="mitchBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Mitch Samuels</h3>
                    <h4>Frontend Developer</h4>
                    <a href="mailto:msamuels@contractor.usgs.gov" class="xs-mb-10 text-body">msamuels@contractor.usgs.gov</a>
                    <p>
                        Mitch is currently enrolled at the University of Wisconsin - Madison where he will earn his bachelor's degree in
                        computer science with certificates in entrepreneurship and German. He is a front end developer desigining WiM and other
                        websites. Outside of work and school, he enjoys traveling, snowboarding, and hiking.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Martyn Smith -->
            <div class="member" id="martyn">
                <img src="/src/images/team/jeremy.png" class="member-image-element" alt="Martyn Smith's Photo" title="Martyn Smith" />
                <div class="member-meta">
                    <b class="text-sm">Martyn Smith</b>
                    <span class="caption">Software Developer</span>
                </div>
            </div>
            <div class="member-about" id="martynBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Martyn Smith</h3>
                    <h4>Software Developer</h4>
                    <a href="mailto:marsmith@usgs.gov" class="xs-mb-10 text-body">marsmith@usgs.gov</a>
                    <p>
                        Marty is a software developer with WiM. He received his M.A. in geography from the University of Connecticut. While his
                        work with the USGS initially centered around GIS and Cartography, his main focus now is internet mapping, and he is
                        committed to improving the mapping presence of the USGS. Within the internet mapping application realm, he is primarily
                        focused on open-source solutions. Most of his free time is spent with his family and german shorthair, or with a
                        chainsaw.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Aaron Stephenson -->
            <div class="member" id="aaron">
                <img src="/src/images/team/aaron.png" class="member-image-element" alt="Aaron Stephenson's Photo" title="Aaron Stephenson" />
                <div class="member-meta">
                    <b class="text-sm">Aaron Stephenson</b>
                    <span class="caption">Solutions Architect</span>
                </div>
            </div>
            <div class="member-about" id="aaronBio">
                <div class="member-about-content xs-p-20 lg-p-30">
                    <h3>Aaron Stephenson</h3>
                    <h4>Solutions Architect</h4>
                    <a href="mailto:astephenson@usgs.gov" class="xs-mb-10 text-body">astephenson@usgs.gov</a>
                    <p>
                        Aaron Stephenson is a full stack developer and solutions architect at WiM, but essentially he is their
                        jack-of-all-trades. He has a decade of experience in system administration, database administration, information
                        management, systems analysis, as well as back end and front end development, almost all of which have been in support of
                        GIS data, services, and applications. Currently, most of his time is engaged in supporting WIM's migration to a
                        service-oriented architecture and cloud computing. In his free time, Aaron loves reading, getting outdoors to hike and
                        canoe, and attempting to become a decent cook.
                    </p>
                    <div class="modal-buttons xs-mt-10">
                        <button class="btn-primary btn-icon close-bio">
                            <i class="fas fa-times"></i>
                            <span>Close</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>


    </div>


    <!-- 
    Footer
    -->
    {% include "../includes/footer.html" %}

    <script>
    $(document).ready(function () {

            $(".member").click(function () {
                console.log("Clicked " + $(this).attr('id'));
                $("#" + $(this).attr('id') + "Bio").addClass("show");
            });

            $(".close-bio").click(function () {
                $(this).closest(".member-about").removeClass("show");
            });

        });
</script>


  
</body>
</html>
